<script>
    var ID = 0;
    function reqEdit(e) {
        $(window).scrollTop(0);
        var url = "@Url.Action("OfficeAccounts", "BudgetPreparation")";
        var officeID = @Account.UserInfo.Department.ToString();
        var yearof=$("#propsYears").val();
        ProgramID = e;
        $.get(url, { ProgramID: e, officeID: officeID,yearof:yearof }, function (d) {
            document.documentElement.style.overflow = 'hidden';  // firefox, chrome
            document.body.scroll = "no";
            $('#editPorgram').html(d);
        })

        $('#editPorgram').data('kendoWindow').title("<i class='fa fa-navicon'> </i> Budget Appropriation").center().open();
    }
    function submitAccount() {
        var officeID = @Account.UserInfo.Department.ToString();
        var propyear = $("#propsYears").val();
        var url1="@Url.Action("Checkpsaccount", "BudgetPreparation")";
        $.get(url1, { officeID: officeID, propyear: propyear }, function (d) {
            if (d == "success") {
                var url="@Url.Action("SubmitAccount", "BudgetPreparation")";

                swal({
                    title: "Submit!",
                    text: "Do you want to submit all proposed budget of your office?"+
                        "<br><br><p style='color:Red;font-weight:bold;text-align:left'>NOTE:</p> <p style='text-align:justify'>Please be reminded that total amount of the proposed budget might be lesser than the total amount of AIP. Should you have questions or concerns, please contact PPDO.</p>",
                    type: "warning",
                    html:true,
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes",
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                }, function () {
                    $.get(url, { officeID: officeID, propyear: propyear }, function (d) {
                        if (d == "success") {
                            swal("Success", "Proposed budget successfully submitted!", "success")
                        }
                        else {
                            swal("","Error","error")
                        }
                    })
                })
            }
            else {
                swal("","Proposed budget for PS must have at least thirteen(13) accounts!","error")
            }
        })

        
        }
    function regularaip_click() {
        if (document.getElementById("regularaipid").checked) {
            document.getElementById("regularaipid").value = "1";
            document.getElementById("supplementalaipid").value = "0";
            $("#supplementalaipid").attr("checked", false)
        }
        $("#offs").data("kendoComboBox").dataSource.read();
    }
    function supplementalaip_click() {
        if (document.getElementById("supplementalaipid").checked) {
            document.getElementById("supplementalaipid").value = "1";
            document.getElementById("regularaipid").value = "0";
            $("#regularaipid").attr("checked", false)
        }
        $("#offs").data("kendoComboBox").dataSource.read();
    }
</script>

@*<div style="margin-top:10px">
    <span style="font-weight:bold;font-size:larger;"> NOTE: </span>  <span style="background-color:yellow;font-size:18px;font-weight:bolder">Please be reminded that your proposed budget must based from the approved AIP.</span>
</div>*@
<div style="float:left;margin-left:50px;margin-top:0px;margin-bottom:0px">
    <label style="font-size:12px;margin-bottom:5px;margin-left:-20px;fon"><u>AIP Version</u></label>
    <div style="display:inline-block">
        <input type="radio" id="regularaipid" style="width:10px;zoom:1.2" value="1" checked onclick="regularaip_click()" />
        <label style="display:inline-block;font-size:12px;">Annual Budget</label>
        <input type="radio" id="supplementalaipid" style="width:10px;margin-left:10px;zoom:1.2" value="0" onclick="supplementalaip_click()" />
        <label style="display:inline-block;font-size:12px;">Supplemental Budget</label>
    </div>
</div>
<div style="border: outset;clear:both;border-width:1px;border-color:#1fa67a; width: 745px; padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:7px;margin-top: 10px;">
    <div style=" width: 0;height: 0; border-right: 5px solid #333333; border-bottom: 37px solid #333333; border-left: 65px solid #333333;margin-top: -1px; ">
        <div style="float: left; width: 678px; margin-top:1px;margin-bottom:-97px;margin-left:-33px; height: 0; border-left: 35px solid #333333; border-bottom: 36px solid #1fa67a; ">

            <div style="float: left; height:28px; margin-left:-59px; margin-top: 5px;">
                <i class="fa fa-tasks fa-2x fg-white">  &nbsp;&nbsp;  Budget Preparation</i>
                <script>
                    function refreshGrid() {
                        $("#grOfficeProgram").data("kendoGrid").dataSource.read();
                    }
                </script>
            </div>
            <div style="text-align: right;float: right;margin-right:200px;margin-top:2px;">
                @(Html.Kendo().ComboBox()
                              .Name("propsYears")
                              .DataTextField("ProposalYear")
                              .DataValueField("ProposalYear")
                              .Filter("contains")
                              .SelectedIndex(0)
                              .MinLength(1)
                              .HtmlAttributes(new { @style = "width: 90px;" })
                              .Events(e => e.Change("refreshGrid"))
                              .DataSource(source => source.Read(read => read.Action("ddlProposalYearNew", "Dropdowns")))
                )
            </div>
            <div style="float: right;margin-right:10px;margin-top:2px;">
                <i class="fa fa-calendar fa-2x #33333"></i>
            </div>
            @*@if (Session["EnableSubmitOA"].ToString() == "True")
            {
            <div style="float:right;width:200px;margin-top:2px;margin-right:-330px">
                <button class="k-button k-button-icontext" onclick="submitAccount()" style="border-radius:7px;background-color:white;color:black;height:29.5px;" title="Click this button to submit all proposed budget of your office.">  <i class="fa fa-share-square-o" aria-hidden="true"></i> Submit Proposed</button>
            </div>
            }*@
        </div>
    </div>
    <script>
        function GetSelectedYear() {
            var proYe = $("#propsYears").val();
            return {
                propYear1: proYe
            }
        }
    </script>

    @(Html.Kendo().Grid<iFMIS_BMS.BusinessLayer.Models.ProgramsModel>()
    .Name("grOfficeProgram")
    .Columns(col =>
    {
        col.Bound(m => m.ProgramDescription).Title("Program").Width(370);
        col.Template(t => { }).ClientTemplate(
"<div class='k-button' title='View Accounts' onclick='reqEdit(#=ProgramID#)'><span class='fa fa-edit' style='font-size: 10pt;margin: 1px;margin-top: -1px;margin-left: 5px;margin-right: 3px;'> </span>View Account</div>"
).HtmlAttributes(new { style = "vertical-align: top;" }).Width(50);
    })
        .Pageable(page => page.Refresh(true)
        .Enabled(true)
        .ButtonCount(4)
        .PreviousNext(true))
        .AutoBind(true)
        .Selectable()
        .DataSource(d => d
        .Ajax()
        .PageSize(10)
        .Model(m => m.Id(i => i.ProgramID))
        .Read(read => read.Action("SearchOfficeProgram_OfficeAdmin", "BudgetPreparation").Data("GetSelectedYear")))
    )

</div>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $("#grOfficeProgram").data("kendoGrid").dataSource.read();

        }, 500);
    })
    function Close() {
        document.documentElement.style.overflow = 'auto';
        document.body.scroll = "yes";
    }
</script>

@(Html.Kendo().Window()
        .Name("editPorgram")
        .Title("New Entry")
        .Width(970)
        .Height(600)
        .Visible(false)
        .Modal(true)
        .Draggable(true)
        .AutoFocus(true)
        .Events(e => e.Close("Close"))
        .Animation(a => { 
            a.Open(o => o.SlideIn(SlideDirection.Down)); 
            a.Close(c => { c.SlideIn(SlideDirection.Down); 
                c.Reverse(true); }); })
                .Actions(a => { a.Close(); })
)
