<script>
    var SeriesID = 0;
    var PSMax = 0.0;
    var MOOEMax = 0.0;
    var COMax = 0.0;
    function CheckAmount(txtID) {
        if (txtID == "txtPSAmount") {
            if (parseFloat($("#" + txtID).val().replace(/,/g, "")) > parseFloat(PSMax)) {
                swal({
                    title: "Notice!",
                    text: "Cannot Complete request Amount is Greater than the Amount in AIP Preparation",
                    type: "warning",
                    showConfirmButton: true
                });
                $("#" + txtID).val(PSMax);
            }
        }
        else if (txtID == "txtMOOEAmount") {
            if (parseFloat($("#" + txtID).val().replace(/,/g, "")) > parseFloat(MOOEMax)) {
                swal({
                    title: "Notice!",
                    text: "Cannot Complete request Amount is Greater than the Amount in AIP Preparation",
                    type: "warning",
                    showConfirmButton: true
                });
                $("#" + txtID).val(MOOEMax);
            }
        }
        else if (txtID == "txtCOAmount") {
            if (parseFloat($("#" + txtID).val().replace(/,/g, "")) > parseFloat(COMax)) {
                swal({
                    title: "Notice!",
                    text: "Cannot Complete request Amount is Greater than the Amount in AIP Preparation",
                    type: "warning",
                    showConfirmButton: true
                });
                $("#" + txtID).val(COMax);
            }
        }
    }
    function reqSaveForm4PPA() {
        if (document.getElementById("btnAddext").innerHTML == "Update") {
            var txtRefCode = $("#txtRefCode").val();
            var txtOrderNo = $("#txtOrderNo").val();
            var txtPPADesc = $("#txtPPADesc").val();
            var txtMajorFinalOutput = $("#txtMajorFinalOutput").val();
            var txtPerformanceIndicator = $("#txtPerformanceIndicator").val();
            var txtTarget = $("#txtTarget").val();
            var txtPSAmount = $("#txtPSAmount").val();
            var txtMOOEAmount = $("#txtMOOEAmount").val();
            var txtCOAmount = $("#txtCOAmount").val();
            var cbisBold = document.getElementById("cbisBold").checked;
            var url = "@Url.Action("UpdateForm4PPA", "BudgetPreparation")";
            $.post(url, {
                SeriesID: SeriesID, OrderNo: txtOrderNo, PPADesc: txtPPADesc,
                MajorFinalOutput: txtMajorFinalOutput, PerformanceIndicator: txtPerformanceIndicator,
                Target: txtTarget, PSAmount: txtPSAmount, MOOEAmount: txtMOOEAmount, COAmount: txtCOAmount, isBold: cbisBold, RefCode: txtRefCode
            }, function (d) {
                if (d == 1) {
                    swal({
                        title: "Success!",
                        text: "Particular Succesffuly Added",
                        type: "success",
                        showConfirmButton: true
                    });
                    $('#grdPPA').data('kendoGrid').dataSource.read();
                    CloseKendoWindow('LBPForm4PPADataWindowUpdate');
                }
                else {
                    swal({
                        title: "Error!",
                        text: d,
                        type: "error",
                        showConfirmButton: true
                    });
                }
            })
        }
    }
    function getParam() {
        return {
            officeid: $("#ddlAIPOffices").val(),
            year:$("#propsYears").val()
        }
    }
    function getAIPamount() {
        var url = "@Url.Action("getAIPamount", "BudgetPreparation")";
        var initID = $("#Initiative").val();

        $.get(url, { id: initID }, function (x) {
            $("#txtAIPAmount").val(MoneyFormat(x))
            $("#txtAIPAmountTemp").val(x)
        });
    }
</script>
<div>
    
    @*<div style="display:inline-block">
        <label>
            PPA Description :<br /> <textarea  id="txtPPADesc" style="width:450px; height:100px;"></textarea>
        </label>
    </div>*@
    <div style="display:inline-block">
        <label style="display:inline-block">
            Major Final Output :<br /> <textarea id="txtMajorFinalOutput" style="width:215px;"></textarea>
        </label>
        <label style="display:inline-block">
            Performance Indicator :<br /> <textarea id="txtPerformanceIndicator" style="width:215px;"></textarea>
        </label>
    </div>
    <div style="display:inline-block">
        <label style="display:inline-block">
            Target For The Budget Year :<br /> <textarea id="txtTarget" style="width:450px;"></textarea>
        </label>
    </div>
    <div style="display:inline-block">
        <label style="display:inline-block">
            Initiative :&nbsp;&nbsp;&nbsp;&nbsp;
        </label>
        <label style="display:inline-block">
            @(Html.Kendo().ComboBox()
                         .Name("Initiative")
                         .DataTextField("initiative")
                         .DataValueField("id")
                         .Filter("contains")
                         .MinLength(1)
                         .Placeholder("Select initiative...")
                         .HtmlAttributes(new { @style = "width: 462px;" })
                         .DataSource(source => source.Read(read => read.Action("ReadInitiative", "BudgetPreparation").Data("getParam")))
                         .Events(e => e.Change("getAIPamount"))
            )
            </label>
    </div>
    <div style="display:inline-block;margin-top:5px;">
        <label style="display:inline-block">
            AIP Amount : &nbsp; &nbsp; <input type="text" id="txtAIPAmount" value="0.00" style="width:140px;color:blue;font-size:20px;" disabled="disabled">
        </label>
    </div>
    <div style="display:none">
        <input type="number" id="txtAIPAmountOrig"/>
    </div>
    <div style="display:inline-block">
        <label style="display:inline-block">
            Sub-Initiative : <br /> <textarea id="txtsubinitiative" style="width:450px;"></textarea>
        </label>
       
    </div>

    <div style="display:inline-block">
        <div style="border-color:gray;border-width:1px;border-style:solid;width:459px;margin-top:10px;float:left;height:130px">
            <div style="background-color:white;width:90px;margin-top:-10px;margin-left:-3px;"><span style="font-size:18px;margin-left:5px;font-weight:bold">Amount </span></div>
            
            <label style="float:left;margin-left:67.5px;margin-top:5px;">
                PS : &nbsp; &nbsp;

                <input id="txtPSAmount" onkeyup="OnKeyUpConvertToCurrency(event, 'txtPSAmount')" onblur="CheckAmount('txtPSAmount')" onkeydown="FilterNumericOnly(event)" placeholder="PS Amount" style="width:140px" />

            </label>
            <br />
            <label style="float:left;margin-left:37.5px">
                MOOE : &nbsp; &nbsp;
                <input id="txtMOOEAmount" onkeyup="OnKeyUpConvertToCurrency(event, 'txtMOOEAmount')" onblur="CheckAmount('txtMOOEAmount')" onkeydown="FilterNumericOnly(event)" placeholder="MOOE Amount" style="width:140px" />
            </label>
            <br />
            <label style="float:left;margin-left:63px;">
                CO : &nbsp; &nbsp;
                <input id="txtCOAmount" onkeyup="OnKeyUpConvertToCurrency(event, 'txtCOAmount')" onblur="CheckAmount('txtCOAmount')" onkeydown="FilterNumericOnly(event)" placeholder="CO Amount" style="width:140px" />
            </label>
        </div>
    </div>
    <br />
    <div style="display:inline-block;margin-top:5px;margin-left:18px">
        <label>
            @* AIP Ref Code : <input disabled id="txtRefCode" style="width:140px" />*@
            Order No : &nbsp; &nbsp; <input disabled id="txtOrderNo" style="width:70px" />
        </label>
    </div>
    </div>
<div style="float:left;margin-top: 10px;width:50%">
    <input style="display:inline-block" type="checkbox" id="cbisBold" class="k-checkbox">
    <label style="display:inline-block" class="k-checkbox-label" for="cbisBold">Bold</label>
</div>
<div style="float:left; margin-top: 40px;margin-left:30px">
    <div style="display:inline-block;border-radius:50px;width:90px" class="k-button k-button-icontext" onclick="reqSaveForm4PPA()"> <i class="fa fa-save"></i> <span id="btnAddext">Update</span> </div>
    <div style="display:inline-block;background-color:indianred;border-radius:50px;width:90px;color:white" class="k-button k-button-icontext" onclick="CloseKendoWindow('LBPForm4PPADataWindowUpdate')"> <i class="fa fa-times"></i> Close </div>
</div>
<div style="display:none">
    <input type="number" id="txtAIPAmountTemp"/>
</div>
<style>
    textarea {
        resize: none;
    }
</style>
<script>
    $(document).ready(function () {
        var transno = '@ViewBag.transno';
        //var arr = ViewBagData.split(',')
        //var Mode = arr[0];
        //SeriesID = arr[1];
        //if (Mode == "Add") {
        //    resetOtherDataFields();
        //    document.getElementById("btnAddext").innerHTML = "Add";
        //}
        //else {
            var url = "@Url.Action("GetForm4PPASelectedForEdit", "BudgetPreparation")";
            $.post(url, { transno: transno }, function (d) {
                document.getElementById("btnAddext").innerHTML = "Update";
            //    $("#txtRefCode").val(d[0]);
                $('#txtOrderNo').val(d[9]);
                //$('#txtPPADesc').val(d[1]);
                $('#txtMajorFinalOutput').val(d[2]);
                $('#txtPerformanceIndicator').val(d[3]);
                //$('#txtTarget').val(d[4]);
                $('#txtPSAmount').val(d[5]);
                $('#txtMOOEAmount').val(d[6]);
                $('#txtCOAmount').val(d[7]);
                PSMax = d[10]
                MOOEMax = d[11]
                COMax = d[12]
                $('#Initiative').data('kendoComboBox').value(d[13]);
                getAIPamount();
                alert( $('#txtOrderNo').val())
                if (d[8] == "1") {
                    document.getElementById("cbisBold").checked = true;
                }
            })
        //}
    });
    
</script>
