@*<script>
    alert(@Session["ProgID1"]);
</script>*@
<script type="text/javascript">

    var thisculture = kendo.culture();
    thisculture.numberFormat.currency.symbol = '₱';

    function fn_Program() {
        var pro_id = @Session["ProgID1"];
        var proYear = $("#propsYears").val();
        var ooe_id = $("#ooe_id").val();
        return {
            prog_ID: pro_id,
            proy_ID: proYear,
            ooe_id: ooe_id
        }
    }

    function RefreshGrid() {

        var grid = $("#grd_ApprovalBudget");
        var dataSource = grid.data("kendoGrid").dataSource;
        var colCount = grid.find('.k-grid-header colgroup > col').length;

        if (dataSource._view.length == 0) {
            swal(
               "Error!", "No Data to save", "warning");
        } else {
            swal({
                title: "Success!",
                text: "Sucessfully save.",
                type: "success"
            },
            function () {
                $("#grd_ApprovalBudget").data("kendoGrid").dataSource.read();
            });
            //swal("Success!", "Sucessfully save!!!", "success");
        }
    }

    function ooo(e) {
        //$("#grd_ApprovalBudget").data("kendoGrid").closeCell(arg.container)
        this.closeCell();
    }

    function errorHandler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
    function onSaveChanges() {
        $("#grd_ApprovalBudget").data("kendoGrid").dataSource.read();
    }
    function onGridClick(e) {
        $("#grd_ApprovalBudget").data("kendoGrid").editCell("input[name=ProposalAllotedAmount]");
        return true;
    }

   
    function EditData(AccountID) {
        $(window).scrollTop(0);
        var AccountID = AccountID;
        var grid = "#gridApproval_" + AccountID;
        var gridName = $(grid).data('kendoGrid');
        var dataRows = gridName.items();
        var rowIndex = dataRows.index(gridName.select());
        var ds = gridName.dataSource.view();
        var AccountDenominationID = ds[rowIndex].AccountDenominationID;
        var DenominationName = ds[rowIndex].DenominationName;
        var DenominationAmount = ds[rowIndex].DenominationAmount;
        var url = "@Url.Action("EditData", "BudgetPreparation")";
        $.get(url, { AccountDenominationID: AccountDenominationID, DenominationName: DenominationName, DenominationAmount: DenominationAmount, AccountID: AccountID }, function (d) {

            document.documentElement.style.overflow = 'hidden';  // firefox, chrome
            document.body.scroll = "no";
            $('#EditDetails').html(d);
        })
        $('#EditDetails').data('kendoWindow').title("<i class='fa fa-navicon'> </i>").center().open();
    }
    function onClose() {
        //var Budget = $("#moneyUpdatedBudget").text();
        //alert(Budget);
        //$("#CreateNewDenominationAccount").data("kendoWindow").close();
        document.documentElement.style.overflow = 'auto';  // firefox, chrome
        document.body.scroll = "yes";
    }

    function CloseWindow() {
        //var Budget = $("#moneyUpdatedBudget").text();
        //alert(Budget);
        document.documentElement.style.overflow = 'auto';  // firefox, chrome
        document.body.scroll = "yes";
        $("#CreateNewDenominationAccount").data("kendoWindow").close();
    }

    function NewAccountsDenomination(AccountID, ProgramID, ProposalYear, ProposalStatusHR) {
        if (ProposalStatusHR == 1) {
            swal("Error!", "Can't Add New Denomination Account. Due to the Pending Status", "error");
        } else {

            $(window).scrollTop(0);
            var ProgramID = ProgramID;
            var AccountID = AccountID;
            var ProposalYear = ProposalYear;
            var url = "@Url.Action("NewAccountDenomination", "BudgetPreparation")";
            $.get(url, { ProgramID: ProgramID, AccountID: AccountID, ProposalYear: ProposalYear }, function (d) {
                document.documentElement.style.overflow = 'hidden';  // firefox, chrome
                document.body.scroll = "no";
                $('#CreateNewDenominationAccount').html(d);
            });
            $('#CreateNewDenominationAccount').data('kendoWindow').title("<i class='fa fa-navicon'> </i>").center().open();

        }
    }
    function UpdateAccountDenomination(AccountID, ProgramID, ProposalYear, ProposalStatusHR, ProposalID) {
        var url = "@Url.Action("SaveDenomination", "BudgetPreparation")";
        if (ProposalStatusHR == 1) {
            swal("Error!", "Can't Add New Denomination Account. Due to the Pending Status", "error");
        }else{
            swal({
                title: "System Alert!",
                text: "This Action will Total all you Denomination and Submit it as your Budget Proposal for the Selected Account. Click 'Ok' to Proceed.",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "OK",
                closeOnConfirm: false
            }, function () {
                $.get(url, {AccountID: AccountID, ProgramID: ProgramID, ProposalYear: ProposalYear, ProposalID: ProposalID}, function(d) {
                    if (d == "success") {
                        $("#grd_ApprovalBudget").data("kendoGrid").dataSource.read();
                        swal({
                            title: "Success!",
                            text: "Accounts Updated!.",
                            type: "success",
                            timer: 2000,
                            showConfirmButton: false
                        });

                    }
                })

            });
        }
    }
    function DeleteData(AccountID) {
        var AccountID = AccountID;
        //var ProgramID = ProgramID;
        //var ProposalYear = ProposalYear;
        var grid = "#gridApproval_" + AccountID;
        //alert(grid);
        var gridName = $(grid).data('kendoGrid');
        var dataRows = gridName.items();
        var rowIndex = dataRows.index(gridName.select());
        var ds = gridName.dataSource.view();
        var AccountDenominationID = ds[rowIndex].AccountDenominationID;
        swal({
            title: "Are you sure?",
            text: "This will Delete your Denomination Account.",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        }, function () {
            var url = "@Url.Action("DeleteAccountDenomination", "BudgetPreparation")";
            $.get(url, { AccountDenominationID: AccountDenominationID }, function (d) {
                if (d == "success") {
                    $(grid).data("kendoGrid").dataSource.read();
                    swal({
                        title: "Success!",
                        text: "Account Denomination Deleted.",
                        type: "success",
                        timer: 2000,
                        showConfirmButton: false
                    });
                }
            })
        });
    }
    function onGridEdit(e) {
        var gridName = $('#grd_ApprovalBudget').data('kendoGrid');
        var dataRows = gridName.items();
        var rowIndex = dataRows.index(gridName.select());
        var ds = gridName.dataSource.view();
        var ProposalStatusHR = ds[rowIndex].ProposalStatusHR;
        var ProposalDenominationCode = ds[rowIndex].ProposalDenominationCode;
        var ProposalStatusInCharge = ds[rowIndex].ProposalStatusInCharge;
        var AccountName = ds[rowIndex].AccountName;
        if (ProposalDenominationCode == '1') {
            this.closeCell();
        } else if (ProposalStatusHR == '1') {
            this.closeCell();
        } else if (ProposalStatusInCharge == '1') {
            this.closeCell();
        }
    }
</script>
<div style="float:left;margin-top:5px;margin-bottom:10px;">
    <label style="float:left; margin-right: 10px;">Expense Class :</label>
    @(Html.Kendo().DropDownList()
                        .Name("ooe_id")
                        .DataTextField("ooe_name")
                        .DataValueField("ooe_id")
                        .OptionLabel("Select Expenses...")
                        .HtmlAttributes(new { @style = "width: 500px;" })
                        .Events(e => e.Change("fn_refresher"))
                        .DataSource(source => source.Read(read => read.Action("ddlOOE", "Dropdowns")))
    )
</div>
<div style="width:100%;margin-top:5px;margin-bottom:2px;margin-top:50px;">
    <p>Legends:</p>
    <span class='fa fa-circle' style='color:yellow;' id='circle-id'></span> 
    <span>Already Reviewed By HRMO <b>(Can't be Edited)</b> </span> 
    <span class='fa fa-circle' style='color:green; margin-left:30px;' id='circle-id'></span>
    <span>  Already Reviewed By Budget In-charge <b>(Can't be Edited)</b> </span> <br /> 
    <span class='fa fa-circle' style='color:red;' id='circle-id'></span>
    <span> Not yet Reviewed <b>(Can be Edited)</b></span>
    <span class='fa fa-circle' style='color:blue;margin-left:100.5px;' id='circle-id'></span> 
    <span>  Have Denomination <b>(Can't be Edited)</b></span>
</div>
@(Html.Kendo().Grid<iFMIS_BMS.BusinessLayer.Models.AccountsModel>()
        .Name("grd_ApprovalBudget")
            .HtmlAttributes(new { style = "height:400px" })
        .Scrollable()
    .Columns(col =>
    {
        col.Template(@<text></text>)
                        .HeaderTemplate(@<text><div style="font-weight:600;">Accounts</div></text>)
                        .Width(220)
                        .HtmlAttributes(new { style = "text-align:left;height:30px" })
                        .HeaderHtmlAttributes(new { style = "text-align:center" })

                        .ClientTemplate("<div onclick=onGridClick()>#=AccountName# </div>");
        col.Template(@<text></text>)
                        .HeaderTemplate(@<text><div style="font-weight:600;">OOE</div></text>)
                        .Width(50)
                        .HtmlAttributes(new { style = "text-align:center;height:30px" })
                        .HeaderHtmlAttributes(new { style = "text-align:center" })
                        .ClientTemplate("<div onclick=onGridClick()>#=OOEName# </div>");
        col.Template(@<text></text>)
                        .HeaderTemplate(@<text><div style="font-weight:600;">Year</div></text>)
                        .Width(50)
                        .HtmlAttributes(new { style = "text-align:left;height:30px" })
                        .HeaderHtmlAttributes(new { style = "text-align:center" })
                        .ClientTemplate("<div>#=ProposalYear# </div>");
        col.Template(@<text></text>)
                        .HeaderTemplate(@<text><div style="font-weight:600;text-align:center; vertical-align: middle; overflow: visible; white-space: normal;">Past Proposal Amount</div></text>)
                        .Width(150)
                        .HtmlAttributes(new { style = "text-align:left;height:30px" })
                        .HeaderHtmlAttributes(new { style = "text-align:center" })
                        .ClientTemplate("<div>#=kendo.toString(PastProposalAmmount, 'c2')# </div>");
        col.Bound(m => m.ProposalAllotedAmount).HtmlAttributes(new { style = "text-align:left;height:30px;"}).Title("Proposed Amounts")
            .HeaderHtmlAttributes(new { style = "text-align:center" }).Width(150).ClientTemplate(
            "# if(ProposalStatusInCharge == 1) { #" +
            " <span class='fa fa-circle' style='color:green;' id='circle-id'></span> " +
            "# if(ProposalDenominationCode == 1) { #" +
            " <span class='fa fa-circle' style='color:blue;' id='circle-id'></span> #=kendo.toString(ProposalAllotedAmount, 'c2')#" +
            "# } else { #" +
            "#=kendo.toString(PastProposalAmmount, 'c2')#" +
            "# } #" +
            "# } else if(ProposalStatusHR == 1){ #" +
            " <span class='fa fa-circle' style='color:yellow;' id='circle-id'></span> " +
            "# if(ProposalDenominationCode == 1) { #" +
            " <span class='fa fa-circle' style='color:blue;' id='circle-id'></span> #=kendo.toString(ProposalAllotedAmount, 'c2')#" +
            "# } else { #" +
            "#=kendo.toString(PastProposalAmmount, 'c2')#" +
            "# } #" +
            "# } else if(ProposalDenominationCode == 1){ #" +
            " <span class='fa fa-circle' style='color:red;' id='circle-id'></span> <span class='fa fa-circle' style='color:blue;' id='circle-id'></span> #=kendo.toString(ProposalAllotedAmount, 'c2')#" +
            "# }else { #" +
            " <span class='fa fa-circle' style='color:red;' id='circle-id'></span>  #=kendo.toString(ProposalAllotedAmount, 'c2')#" +
            "# } #"
            );
        col.Bound(m => m.ProposalStatusHR).Title("Proposal").Hidden();
        col.Bound(m => m.AccountID).Title("Account ID").Hidden();
        col.Bound(m => m.ProposalStatusInCharge).Title("Proposal").Hidden();
        col.Bound(m => m.ProgramID).Title("ProgramID").Hidden();
        col.Bound(m => m.ProposalID).Title("Proposal ID").Hidden();
        col.Bound(m => m.ProposalDenominationCode).Title("ProposalDenominationID").Hidden();

    })
       .ToolBar(toolbar =>
       {
             toolbar.Save();

         })
         .Events(e => e.SaveChanges("onSaveChanges"))
         .Editable(editable => editable.Mode(GridEditMode.InCell))
         .Pageable(page => page.Refresh(true)
            .Enabled(true)
            .ButtonCount(4)
            .PreviousNext(true)
         )
         .ClientDetailTemplateId("template_Approval")
         .Events(e => e.SaveChanges("RefreshGrid").Cancel("ooo").Edit("onGridEdit"))
         .Selectable()
         .DataSource(d => d
         .Ajax()
         .Batch(true)
         .ServerOperation(false)
         .PageSize(7)
         .Model(m => m.Id(i => i.AccountID))
         .Read(read => read.Action("Accounts_read_forApproval", "Home").Data("fn_Program"))
         .Update("_update", "Home"))
)

<script id="template_Approval" type="text/kendo-tmpl">
   
    @(Html.Kendo().Grid<iFMIS_BMS.BusinessLayer.Models.AccountDenomination>()
            .Name("gridApproval_#=AccountID#") // template expression, to be evaluated in the master context

            .Columns(columns =>
            {
                columns.Bound(e => e.AccountDenominationID).Hidden();
                columns.Bound(e => e.DenominationName).Width(120);
                columns.Template(@<text></text>)
                        .HeaderTemplate(@<text>
        <div style="font-weight:600;">DenominationAmount</div></text>)
                        .Width(120)
                        .HtmlAttributes(new { style = "text-align:left" })
                        .HeaderHtmlAttributes(new { style = "text-align:left" })
                        .ClientTemplate("<div>\\#=kendo.toString(DenominationAmount, 'c2')\\# </div>");
                //columns.Bound(e => e.DenominationAmount).Width(150);
                columns.Template(@<text></text>).Width(60)
                        .ClientTemplate(
                        "# if(ProposalStatusHR == 1) { # " +
                        "<div class='k-button k-state-disabled' title='Edit Details (?)' '> <span class='fa fa-edit' style='font-size: 12pt;'></span> Edit </div>" +
                        "# } else { #" +
                        "<div class='k-button' title='Edit Details (?)' onclick='EditData( #=AccountID# )'> <span class='fa fa-edit' style='font-size: 12pt;'></span> Edit </div>" +
                        "# } #"
                        );
                columns.Template(@<text></text>).Width(60)
                        .ClientTemplate(
                        "# if(ProposalStatusHR == 1) { # " +
                        "<div class='k-button k-state-disabled' title='Delete (X)' > <span class='fa fa-close' style='font-size: 12pt;'></span> Delete </div>"+
                        "# } else { #" +
                        "<div class='k-button' title='Delete (X)' onclick='DeleteData( #=AccountID# )'> <span class='fa fa-close' style='font-size: 12pt;'></span> Delete </div>" +
                        "# } #");
            })
.ToolBar(t => t.Template(@<text>
                <div style="float: right; height:28px;margin-top:2px;">
                    <link href="~/Content/metroui/css/docs.css" rel="stylesheet" />

                    <div class="k-button" onclick="UpdateAccountDenomination('#=AccountID#', '#=ProgramID#', '#=ProposalYear#', '#=ProposalStatusHR#', '#=ProposalID#')"><span class="fa fa-upload"></span> <b>Update Denomination</b></div><div class="k-button" onclick="NewAccountsDenomination('#=AccountID#', '#=ProgramID#', '#=ProposalYear#', '#=ProposalStatusHR#')"><span class="fa fa-plus-circle"></span> Add New Account Denomination </div> @*<div class="k-button" onclick="SaveChanges('#=AccountID#')"><span class="fa fa-check"></span> Save Changes</div> <div class="k-button" onclick="CancelChanges('#=AccountID#')"><span class="fa fa-close"></span> Cancel Changes</div>*@
                </div>
</text>))
                                                   .Selectable()
                                                   .Pageable(page => page.Refresh(true)
                                                             .Enabled(true)
                                                             .ButtonCount(4)
                                                             .PreviousNext(true))
                                                   .DataSource(dataSource => dataSource
                                                       //.Batch(true)
                                                       .Ajax()
                                                       //.Aggregates(aggregates => aggregates.Add(m => m.DenominationAmount).Sum())
                                                       .ServerOperation(false)

                                                       .PageSize(10)
                                                       .Model(m =>
                                                           {
                                                               m.Id(i => i.AccountDenominationID);

                                                           })
                                                               .Read(read => read.Action("Proposal_AccountDenomination", "BudgetPreparation", new { ProgramID = "#=ProgramID#", AccountID = "#=AccountID#", ProposalYear = "#=ProposalYear#" }))
                                               .Destroy(update => update.Action("EditingPopup_Destroy", "Grid"))
                                                   )
                                                   .Pageable()
                                                   .ToClientTemplate()
    )
</script>

@(Html.Kendo().Window()
    .Name("CreateNewDenominationAccount")
    .Title("Create New Denomination Account")
    .Width(450)
    .Height(250)
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .AutoFocus(true)
    .Events(e => e.Close("onClose"))
    .Animation(a =>
        {
            a.Open(o => o.SlideIn(SlideDirection.Down));
            a.Close(c =>
            {
                c.SlideIn(SlideDirection.Down);
                c.Reverse(true);
            });
        }).Actions(a => { a.Close(); }))

@(Html.Kendo().Window()
    .Name("EditDetails")
    .Title("Edit Account Denomination")
    .Width(450)
    .Height(250)
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .AutoFocus(true)
    .Events(e => e.Close("onClose"))
    .Animation(a =>
        {
            a.Open(o => o.Fade(FadeDirection.In));
            a.Close(c =>
            {
                c.Fade(FadeDirection.In);
                c.Reverse(true);
            });
        }).Actions(a => { a.Close(); }))


