
<script>
    //$("#grd_dffptlistConsol tbody").on("keydown", "tr", function (e) {
    //    //var grid = $("#grd_dffptlistConsol").data("kendoGrid");

    //    ////get the pressed key code
    //    var code = (e.keyCode ? e.keyCode : e.which);
    //    if (code == 13) { //Enter keycode
    //        //$(e.srcElement).closest("tbody").focus();
    //        //alert($(e.srcElement))
    //        //setTimeout(function () {
                
    //        //    grid.saveRow();
    //        //})
    //        var gview = $("#grd_dffptlistConsol").data("kendoGrid");
    //        var selectedItem = gview.dataItem(gview.select());
    //        var Guid = selectedItem.remarks;
    //        alert(Guid)
    //    }

      
    //});
    function getParam() {
        return {
            office:'@Session["office"]',
            tyear: '@Session["tyear"]',
            id:'@Session["id"]',
            ooeid:'@Session["ooeid"]',
            qtr:'@Session["qtr"]'
        }
    }
    //function onEdit(e) {
    //    e.container.find("input").bind("focus", function(){
 
    //        if(this.style.display != "none"){
    //            var element = this;
    //            setTimeout(function(){
    //                element.select();
    //            })
    //        }
    //    })
 
    //    setTimeout(function () {
    //        if (element.select) {
    //            element.select();
    //        }
    //    })
    //}

    function returndffpt(trnno) {
        //GET Value of the active cell
        var gview = $("#grd_dffptlistConsol").data("kendoGrid");
        var selectedItem = gview.dataItem(gview.select());
        var remarks = selectedItem.remarks;
        
        if (remarks == ""){
            swal("Warning!", "Please enter remarks!", "warning");
        }
        else{
            swal({
                title: "W A R N I N G!",
                text: "Return this transaction?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                closeOnConfirm: false
            }, function () {
                var url = "@Url.Action("returndfppt", "Report")";
                $.get(url, { trnno: trnno,remarks:remarks }, function (e) {
                    if (e == "success") {
                        swal("Success!", "Successfully returned!", "success");
                        $("#grd_dffptlistConsol").data("kendoGrid").dataSource.read();
                        $("#dffptconsol").data("kendoGrid").dataSource.read();
                    } else {
                        swal("Error!", e, "error");
                        $("#grd_dffptlistConsol").data("kendoGrid").dataSource.read();
                    }
                });
            });
        }
    }
    function frmclose() {
        $("#dffptsubmittedPerOffice").data("kendoWindow").close();
    }
    function onDataBound(e) {
        $(".k-hierarchy-cell").hide();
        $(".k-hierarchy-col").hide();
        var grid = $("#grd_dffptlistConsol").data("kendoGrid")
        var ds = grid.dataSource.view();
        var rows = e.sender.tbody.children();

        for (var i = 0; i < ds.length; i++) {
            trnno = ds[i].trnno;
            firstmon_release=ds[i].firstmon_release
            secondmon_release=ds[i].secondmon_release
            thirdmon_release=ds[i].thirdmon_release
            var row = $(rows[i]);
            if (@Session["id"] == 1 && (firstmon_release == 0 || secondmon_release == 0 || thirdmon_release == 0)) {
                $('#deleteid' + trnno + '').css("display", "normal");
            }
            else {
                $('#deleteid' + trnno + '').css("display", "none");
                grid.hideColumn('deleteid' + trnno + '');
            }
        }
    }
    function searchSubmitConsol() {
        var $filter = new Array();
        $filter = [];

        if ($('#searchSubmitConsol').val().length > 0) {
            $filter.push({ field: "AccountName", operator: "contains", value: $('#searchSubmitConsol').val() }),
            $filter.push({ field: "ooe", operator: "contains", value: $('#searchSubmitConsol').val() }),
            $filter.push({ field: "Qtr", operator: "contains", value: $('#searchSubmitConsol').val() })
        }

        $('#grd_dffptlistConsol').data('kendoGrid').dataSource.filter({
            logic: "or",
            filters: $filter
        });

    }

    $(function () {
        $("#searchSubmitConsol").keypress(function (e) {
            if (e.keyCode == 13) {
                searchSubmitConsol();
            }
        });
    });
</script>
<div id="searchAccountid" style="height: 30px; margin-top: 0px; float: right; margin-left: 200px;">
    <input type="text" style="width:406px;border-collapse:collapse;margin:0px;border-style:solid;margin-left:0px;height:70%;outline:none;font-family:'Segoe UI Light_','Open Sans Light',Verdana,Arial,Helvetica,sans-serif;float:left;" placeholder="Search..." id="searchSubmitConsol" name="searchSubmitConsol">
    <div class="k-button k-button-icontext" style="height:30px;width:40px;border-style:solid;" onclick="searchSubmitConsol()"><span class="mif-search"></span></div>
</div>
<div class="fa fa-re">
    @(Html.Kendo().Grid<iFMIS_BMS.BusinessLayer.Models.WFPSubmitted>()
        .Name("grd_dffptlistConsol")
        .HtmlAttributes(new { style = "height:450px;" })
        .Scrollable()
        .Columns(col =>
        {
        col.Template(@<text></text>)
            .HeaderTemplate(@<text>Expense Class</text>)
            .Width(60)
            //.HtmlAttributes(new { style = "text-align:center;" })
            .HeaderHtmlAttributes(new { style = "text-align:center;vertical-align:middle;height:30px;background-color:#ff6a00;font-size:14px;color:beige;" })
            .HtmlAttributes(new { style = "align:center;float:none;text-align:center; vertical-align: middle;" })
          //  .HeaderHtmlAttributes(new { style = "text-align:center; vertical-align: middle; overflow: visible; white-space: normal" })
            .ClientTemplate("<div>#=ooe# </div>");
        col.Template(@<text></text>)
       //col.Bound(m => m.AccountName)
            .HeaderTemplate(@<text>Account</text>)
            .Width(280)
            .HtmlAttributes(new { style = "text-align:left;" })
            .HeaderHtmlAttributes(new { style = "text-align:center;vertical-align:middle;height:30px;background-color:#ff6a00;font-size:14px;color:beige;" })
            .ClientTemplate("<div>#=AccountName# </div>");
        col.Template(@<text></text>)
                    .HeaderTemplate(@<text>Qtr</text>)
                    .Width(50)
                    .HtmlAttributes(new { style = "text-align:center;height:30px" })
                    .HeaderHtmlAttributes(new { style = "text-align:center;vertical-align:middle;height:30px;background-color:#ff6a00;font-size:14px;color:beige;" })
                    .ClientTemplate("<div>#=Qtr# </div>");
        col.Template(@<text></text>)
                    .HeaderTemplate(@<text>1st Month</text>)
                    .Width(100)
                    .HtmlAttributes(new { style = "text-align:right;height:30px" })
                    .HeaderHtmlAttributes(new { style = "text-align:center;vertical-align:middle;height:30px;background-color:#ff6a00;font-size:14px;color:beige;" })
                    .ClientTemplate("<div>#=kendo.toString(fistamount,'c2')# </div>");
        col.Template(@<text></text>)
                    .HeaderTemplate(@<text>2nd Month</text>)
                    .Width(100)
                    .HtmlAttributes(new { style = "text-align:right;height:30px" })
                    .HeaderHtmlAttributes(new { style = "text-align:center;vertical-align:middle;height:30px;background-color:#ff6a00;font-size:14px;color:beige;" })
                    .ClientTemplate("<div>#=kendo.toString(secondamount,'c2')# </div>");
        col.Template(@<text></text>)
                    .HeaderTemplate(@<text>3rd Month</text>)
                    .Width(100)
                    .HtmlAttributes(new { style = "text-align:right;height:30px" })
                    .HeaderHtmlAttributes(new { style = "text-align:center;vertical-align:middle;height:30px;background-color:#ff6a00;font-size:14px;color:beige;" })
                    .ClientTemplate("<div>#=kendo.toString(thirdamount,'c2')# </div>");
        col.Template(@<text></text>)
                    .HeaderTemplate(@<text>Date Prepared</text>)
                    .Width(165)
                    .HtmlAttributes(new { style = "text-align:left;" })
                    .HeaderHtmlAttributes(new { style = "text-align:center;vertical-align:middle;height:30px;background-color:#ff6a00;font-size:14px;color:beige;" })
                    .ClientTemplate("<div>#=datetimentered# </div>");
        @*col.Template(@<text></text>)*@
        @*col.Template(t => { })
                    .HeaderTemplate(@<text>Return</text>)
                    .HeaderHtmlAttributes(new { style = "text-align:center;vertical-align:middle;height:30px;background-color:#ff6a00;font-size:14px;color:beige;" })
                    .ClientTemplate(
                        "<div class='k-button k-button-icontext' id='deleteid#=trnno#' style='border-radius:50px;color:\\#ffffff;background-color:\\#DE5555;' onclick='returndffpt(#=trnno#)'><span class='fa fa-undo' style='font-size: 10pt;margin: 1px;margin-top: -1px;margin-left: 5px;margin-right: 3px;'> </span>Return</div> "
                    ).HtmlAttributes(new { style = "vertical-align: middle;" }).Width(108);*@
        @*col.Template(t => { })
                    .ClientTemplate(
                    "<div  class='k-button k-button-icontext'  onclick='returndffpt(#=trnno#)' style='border-radius:50px;color:\\#ffffff;background-color:\\#DE5555;'><span class='fa fa-undo'  style='font-size: 10pt;margin: 1px;margin-top: -1px;margin-left: 5px;margin-right: 3px;'></span>Return</div></div>")
                    //.ClientTemplate(
                    //    "<div class='k-button k-button-icontext' id='deleteid#=trnno#' style='border-radius:50px;color:\\#ffffff;background-color:\\#DE5555;' onclick='returndffpt(#=trnno#)'><span class='fa fa-undo' style='font-size: 10pt;margin: 1px;margin-top: -1px;margin-left: 5px;margin-right: 3px;'> </span>Return</div> ")
                    .HtmlAttributes(new { style = "text-align:left;width:80px" })
                    //.HeaderHtmlAttributes(new { style = "text-align:left;width:78px" });
                    .HeaderTemplate(@<text>Return</text>)
                    .HeaderHtmlAttributes(new { style = "text-align:center;vertical-align:middle;height:30px;background-color:#ff6a00;font-size:14px;color:beige;" });*@
        col.Template(@<text></text>)
                    .HeaderTemplate(@<text>1st release</text>)
                    .ClientTemplate("<div>#=firstmon_release# </div>")
                    .Hidden();
        col.Template(@<text></text>)
                    .HeaderTemplate(@<text>1st release</text>)
                    .ClientTemplate("<div>#=secondmon_release# </div>")
                    .Hidden();
        col.Template(@<text></text>)
                    .HeaderTemplate(@<text>1st release</text>)
                    .ClientTemplate("<div>#=thirdmon_release# </div>")
                    .Hidden();
         col.Template(@<text></text>)
                    .HeaderTemplate(@<text>Date Submitted </text>)
                    .Width(165)
                    .HtmlAttributes(new { style = "text-align:left;" })
                    .HeaderHtmlAttributes(new { style = "text-align:center;vertical-align:middle;height:30px;background-color:#ff6a00;font-size:14px;color:beige;" })
                    .ClientTemplate("<div>#=submitdatetime# </div>");
        col.Bound(m => m.remarks)
                .HeaderTemplate(@<text>Remarks</text>)
                .HeaderHtmlAttributes(new { style = "text-align:center;vertical-align:middle;height:30px;background-color:#ff6a00;font-size:14px;color:beige;" })
               // .ClientTemplate("<div> id=remarksid </div>")
                .Width(165);
       // col.Command(command => command.Destroy()).Width(150);
        col.Template(t => { })
            .ClientTemplate(
            "<div  class='k-button k-button-icontext'  id='deleteid#=trnno#' onclick='returndffpt(#=trnno#)' style='border-radius:50px;color:\\#ffffff;background-color:\\#DE5555;'><span class='fa fa-undo'  style='font-size: 10pt;margin: 1px;margin-top: -1px;margin-left: 5px;margin-right: 3px;'></span>Return</div></div>")
            .HtmlAttributes(new { style = "text-align:left;width:80px" })
            .HeaderTemplate(@<text>Return</text>)
            .Width(100)
            .HeaderHtmlAttributes(new { style = "text-align:center;vertical-align:middle;height:30px;background-color:#ff6a00;font-size:14px;color:beige;" });

        })
            //.ToolBar(toolbar =>
            //{
            //    toolbar.Create();
            //    toolbar.Save();
            //})
            .Editable(editable => editable.Mode(GridEditMode.InCell))
            .Navigatable()
            .Pageable(pageable => pageable
            .Refresh(true)
            .Enabled(true)
            .ButtonCount(2))
            .Selectable()
            .AutoBind(false)
            .Resizable(s => s.Columns(true))
            //.Sortable(sortable => sortable
            //.AllowUnsort(true)
            //.SortMode(GridSortMode.MultipleColumn))
            .Events(e => e.DataBound("onDataBound"))
            .DataSource(dataSource => dataSource
            .Ajax()
            .Batch(true)
            .Model(m => m.Id(i => i.trnno))
            .ServerOperation(false)

            //.Aggregates(a =>
            //{
            //    a.Add(c => c.Amount).Sum();
            //})
            .PageSize(10)
            .Read(read => read.Action("GetDFPPTPlist", "Report").Data("getParam"))
            .Update("Editing_Update", "Report")
            )
    )
</div>
<div style="margin-top:45px">
    <div  class="k-button k-button-icontext" style="bottom: 15px; right: 25px;width: 100px;float:right;background-color:indianred; color:white; margin-top: 20px; margin-right:80px;border-radius:50px;margin-top:-30px; margin-bottom:0px" onclick="frmclose()"><span class="fa fa-close"></span> Close</div>
</div>
<script>
    $(document).ready(function(){
        $("#grd_dffptlistConsol").data("kendoGrid").dataSource.read();
    });

    @*$(document).ready(function () {
        if (@Session["userspecialaccess"].ToString() != "0")
        {
            document.getElementById("div_forapproval").style.display = "inline";
        }
        else
        {
            document.getElementById("div_forapproval").style.display = "none";
            $("#div_close").css('margin-top','29px');
        }
    });*@

</script>