<script>

    function GetFundID() {
        return {
            Eco_Type_ID: '@Session["Eco_Type_ID"]',
            Year_Of: '@Session["Year_Of"]'
        }
    }


    function reqSaveEE() {
        var notifi = new $("#popupNotification").data("kendoNotification");

        var url = "@Url.Action("Save_SubsEE", "Report")";

        var EE_Sub1_Desc_ID = $('#dllSubsEE').val()
        var EE_Sub1_Desc = $("#dllSubsEE").data("kendoComboBox").text();
        var EE_Sub2_Desc_ID = $('#dllSubs2EE').val()
        var EE_Sub2_Desc = $("#dllSubs2EE").data("kendoComboBox").text();

        var Past_year = $('#Past_year').val()
        var Current_year = $('#Current_year').val()
        var Budget_year = $('#Budget_year').val()

        var Class_ID = $('#dll_Classi').val()
        var Class_Desc = $("#dll_Classi").data("kendoComboBox").text();
        var Account_Code = $('#Account_Code').val()
        
        if (EE_Sub2_Desc_ID == null || EE_Sub2_Desc_ID == 0 || EE_Sub2_Desc == null || EE_Sub2_Desc == "") {
            alert("Please Add First Sub")
        }

        $.post(url, { EE_Sub1_Desc_ID: EE_Sub1_Desc_ID, EE_Sub1_Desc: EE_Sub1_Desc, EE_Sub2_Desc_ID: EE_Sub2_Desc_ID, EE_Sub2_Desc: EE_Sub2_Desc, Past_year: Past_year, Current_year: Current_year, Budget_year: Budget_year, Eco_Type_ID: '@Session["Eco_Type_ID"]', Year_Of: '@Session["Year_Of"]', Class_ID: Class_ID, Class_Desc: Class_Desc, Account_Code: Account_Code }, function (e) {
                if (e == "1") {
                    swal({
                        title: "Success!",
                        text: "Non-Office Account has been Removed.",
                        timer: 2000,
                        type: "success",
                        showConfirmButton: false
                    })
                    $('#EETypeGrid').data('kendoGrid').dataSource.read();
                } else {
                    swal({
                        title: "Error!",
                        text: "System Error! Please try again.",
                        timer: 2000,
                        type: "error",
                        showConfirmButton: false
                    })
                }


        });

        @*$.post(url, { Sub1_Desc_ID: Sub1_Desc_ID, Sub1_Desc: Sub1_Desc, Sub2_Desc_ID: Sub2_Desc_ID, Sub2_Desc: Sub2_Desc, Past_year: Past_year, Current_year: Current_year, Budget_year: Budget_year, Type_ID: '@Session["Type_ID"]', Year_Of: '@Session["Year_Of"]' }, function (d) {*@

            //$('#newAccounts').data('kendoWindow').close();
            $('#EETypeGrid').data('kendoGrid').dataSource.read();

        //})
    }

    function reqAddSub2() {
        $("#ComboSub").css("visibility", "visible")
        $("#addSub").css("visibility", "hidden")
    }
</script>
<div style="border: outset;border-width:1px;border-color:#038603; width: 580px; padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:0px;margin-top: 10px;">
    <div style=" width: 0;height: 0; border-right: 5px solid #333333; border-bottom: 37px solid #333333; border-left: 65px solid #333333;margin-top: -1px; ">
        <div style="width: 513px; margin-top:1px;margin-bottom:-97px;margin-left:-33px; height: 0; border-left: 35px solid #333333; border-bottom: 37px solid #1fa67a; ">

            <div style="float: left; height:28px; margin-left:-59px; margin-top: 5px;">
                <i class="fa fa-edit fa-2x fg-white"></i>
            </div>

        </div>
    </div>






    <div style="float:inherit; margin-left:50px; margin-top:30px; margin-bottom:50px">
        <label></label>
        Type of Fund :  <div style="margin-left:100px;margin-top:-20px">
            @(Html.Kendo().ComboBox()
                        .Name("dllSubsEE")
                        .DataTextField("EE_Sub1_Desc")
                        .DataValueField("EE_Sub1_Desc_ID")
                        .Placeholder("Select or Add Revenue...")
                        .HtmlAttributes(new { @style = "width: 380px;" })
                        .DataSource(source => source.Read(read => read.Action("SubComboEE", "Report"))


    ))
        </div>
        <label></label><label></label>
        <label></label><label></label>
        <label></label><label></label>
        <div style="margin-left:100px;margin-top:0px;visibility:visible" id="addSub"><div class="k-button" onclick="reqAddSub2()">Add Sub</div></div>
        <div style="margin-left:0px;margin-top:-20px;visibility:hidden" id="ComboSub">
            Sub : <div style="margin-left:100px;margin-top:-20px">
                @(Html.Kendo().ComboBox()
                                                                                            .Name("dllSubs2EE")
                                                                                            .DataTextField("EE_Sub2_Desc")
                                                                                            .DataValueField("EE_Sub2_Desc_ID")
                                                                                            .Placeholder("Select or Add Revenue...")
                                                                                            .HtmlAttributes(new { @style = "width: 380px;" })
                                                                                            .DataSource(source => source.Read(read => read.Action("SubCombo2EE", "Report"))


                                                                        ))
            </div>
        </div>
        <label></label><label></label>
        <label></label><label></label>
        <label></label><label></label>

        Income Classif. :  <div style="margin-left:100px;margin-top:-20px">
            @(Html.Kendo().ComboBox()
                        .Name("dll_Classi")
                        .DataTextField("Class_Desc")
                        .DataValueField("Class_ID")
                        .Placeholder("Select/add Income Classification...")
                        .HtmlAttributes(new { @style = "width: 140px;" })
                        .DataSource(source => source.Read(read => read.Action("SubCombo3EE", "Report"))


    ))
        </div>

            <div style="margin-left:80px;margin-top:-30px;margin-right:200px;float:right">
            Acc. Code : 
            </div>
            <div style="margin-left:100px;margin-top:-30px;margin-right:50px;float:right">
            <input type="text" class="k-textbox" style="width: 140px;" id="Account_Code" name="Account_Code" placeholder="Account Code" />
            </div>
            <label></label><label></label>
            <label></label><label></label>
            <label></label><label></label>
            Past Year :  <div style="margin-left:100px;margin-top:-20px"><input type="text" class="k-textbox" style="width: 380px;" id="Past_year" name="Past_year" placeholder="₱  Actual Amount" /></div>
            <label></label><label></label>
            <label></label><label></label>
            <label></label><label></label>
            Current Year :  <div style="margin-left:100px;margin-top:-20px"><input type="text" class="k-textbox" style="width: 380px;" id="Current_year" name="Current_year" placeholder="₱  Estimate Amount" /></div>
            <label></label><label></label>
            <label></label><label></label>
            <label></label><label></label>
            Budget Year :  <div style="margin-left:100px;margin-top:-20px"><input type="text" class="k-textbox" style="width: 380px;" id="Budget_year" name="Budget_year" placeholder="₱  Proposed Amount" /></div>
            <label></label><label></label>
            <label></label><label></label>
            <label></label><label></label>
        </div>
    <div class="k-button k-button-icontext" style="position: absolute; bottom: 35px; right: 20px;width: 80px;" onclick="reqSaveEE()">Save</div>






</div>

