@model iFMIS_BMS.BusinessLayer.Models.Maintenance.programs
<script>
    function reqSave() {
        var url = "@Url.Action("createSuggestNewAccounts", "Maintenance")";
        var frmData = $('#formProgram').serialize();
        $.post(url, frmData, function (d) {
            if (d == "Success") {
                //swal("Success", "ProgramAccount has been Added!", "success");
                swal({
                    title: "Success",
                    text: "Account has been Added!",
                    type: "success",
                    showCancelButton: false,
                    confirmButtonColor: "#1fa67a",
                    confirmButtonText: "Ok!",
                    closeOnConfirm: true
                },
                    function(){
                        $('#newAccounts').data('kendoWindow').title("Create New Accounts").close();
                    });

                //$.Notify({
                //    caption: 'Success',
                //    content: 'Program Accounts has been Added',
                //    icon: "<span class='mif-checkmark'></span>",
                //    shadow: true,
                //    type: 'success'
                //});
                $('#webTitle').html("Add Account to Programs");

            } else {
                //notifi.show(d, "error");
                //alert("Failed!");
                swal("Error!", d, "error")
            }
        })
    }
    document.getElementById("DisplayYearDate").innerHTML = yearDate();

    function yearDate(){
        var d = new Date();
        return d.getFullYear()+1;
    }
</script>
<div style="border: outset;border-width:1px;border-color:#038603; width: 816px; padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:7px;margin-top: 10px;">
    <div style=" width: 0;height: 0; border-right: 5px solid #333333; border-bottom: 37px solid #333333; border-left: 65px solid #333333;margin-top: -1px; ">
        <div style="width: 750px; margin-top:1px;margin-bottom:-97px;margin-left:-33px; height: 0; border-left: 35px solid #333333; border-bottom: 37px solid #1fa67a; ">

            <div style="float: left; height:28px; margin-left:-59px; margin-top: 5px;">
                <i class="fa fa-edit fa-2x fg-white"> &nbsp;&nbsp;</i>
            </div>

        </div>
    </div>
    <div style="margin:10px;">
        <form id="formProgram" method="post">
            <div>
                <h2>Transaction Year : <span id="DisplayYearDate"></span> </h2>
            </div>
            <hr />
            <div style="margin-top:20px;">

                <label>FMIS Office</label>
                <script>
                    function onSelectOfficeID() {
                        var get_office_id = $("#office_id").val();
                        document.getElementById("text_office_id").value = get_office_id;
                    }
                </script>
                @(Html.Kendo().ComboBox()
                                    .Name("office_id")
                                    .DataTextField("office_name")
                                    .Filter("contains")
                                    .MinLength(2)
                                    .Placeholder("Select Office . .")
                                    .DataValueField("office_id")
                                            .HtmlAttributes(new { @style = "width: 80%;height:110%;" }).Events(e =>
                                                            {
                                                                e.Change("onSelectOfficeID");
                                                            })
                                    .DataSource(source => { source.Read(read => { read.Action("ddlOffice", "Dropdowns"); }); })

                )
                <input type="text" name="text_office_id" id="text_office_id" value="" hidden="hidden" />
                <input type="text" name="program_id1" id="program_id1" value="@Session["ProgID1"]" hidden="hidden" />
            </div>
            <div style="margin-top:20px;">
                <label>Program</label>
                <script>
                    function filterProgram() {
                        var OfficeDropdown = $("#office_id").val();
                        return {
                            OfficeDropdown: OfficeDropdown,
                            ProgramFilter: $("#program_id").data("kendoComboBox").input.val()
                        }
                    }
                </script>
                @(Html.Kendo().ComboBox()
                                    .Name("program_id")
                                    .DataTextField("program_name")
                                    .Filter(FilterType.Contains)
                                    .Placeholder("Select Program . .")
                                    .DataValueField("program_id")
                                            .HtmlAttributes(new { @style = "width: 80%;height:110%;" })

                                                    .DataSource(source =>
                                                    {
                                                        source.Read(read =>
                                                            {
                                                                read.Action("ddlCascadeProgram", "Dropdowns")
                                                                    .Data("filterProgram");
                                                            })
                                                            .ServerFiltering(true);
                                                    })
                                    .Enable(false)
                                    .AutoBind(false)
                                    .CascadeFrom("office_id")

                )
            </div>
            <div style="margin-top:20px;">
                <label>Obj. of Expenditure</label>
                @(Html.Kendo().ComboBox()
                                    .Name("ooe_id")
                                    .DataTextField("ooe_name")
                                    .Placeholder("Select OOE . .")
                                    .SelectedIndex(1)
                                    .Filter("contains")
                                    .MinLength(1)
                                    .DataValueField("ooe_id")
                                            .HtmlAttributes(new { @style = "width: 80%;height:110%;" })
                                    .DataSource(source => { source.Read(read => { read.Action("ddlOOE", "Dropdowns"); }); })

                )
            </div>
            <div style="margin-top:20px;">
                <label>Fund Type</label>
                @(Html.Kendo().DropDownList()
                                    .Name("fund_id")
                                    .DataTextField("fund_name")
                                    .DataValueField("fund_name")
                                    .SelectedIndex(1)
                                    .OptionLabel("Select Fund...")
                                            .HtmlAttributes(new { @style = "width: 80%;height:110%;" })
                                    .DataSource(source => source.Read(read => read.Action("ddlFund", "Dropdowns")))

                )
            </div>
            <div style="margin-top:20px;display:block;">
                <label>Account Name</label>
                <input type="text" class="k-textbox" id="account_name" name="account_name" style="width:80%;" />

            </div>



            <div style="width:100%;float:left;">
                <div style="margin-top:20px;float:left;">

                    <label>Budget Proposal</label>
                    <div class="k-textbox" style="width: 100%;background-color:#ededed;">
                        <span style="float:left;font-size:18px;margin-left:5px;">₱</span>
                        <input type="number" class="k-textbox" style="width: 90%;background-color:#ededed;float:right;outline:none;" id="ammount_money" name="ammount_money" value="" />
                    </div>
                </div>
                <div style="margin-left:50px;margin-top:20px;float:left;">
                    <label>Order #</label>
                    @(Html.Kendo().ComboBox()
                  .Name("orderBy")
                  .Filter("contains")
                  .MinLength(1)
                  .Placeholder("Select order by")
                  .DataTextField("x")
                  .DataValueField("x")
                          .HtmlAttributes(new { @style = "height:110%;" })
                  .DataSource(source => source.Read(read => read.Action("ddlOrderby", "Dropdowns")).ServerFiltering(false))
                    )
                </div>
            </div>
        </form>
        <div style="width:100%;display:block;">
            <hr />
            <div class="k-button k-button-icontext" onclick="reqSave()" style="padding:10px;margin-top:20px;">Create New Accounts</div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#office_id").data("kendoComboBox").value(@Model.office_id);
        setTimeout(function () {
            $("#program_id").data("kendoComboBox").value(@Model.program_id);
        }, 300)


    });

</script>
