@model iFMIS_BMS.BusinessLayer.Models.Maintenance.PlantillaModel

<script>
    function GetSelectedCasualRate() {
        document.getElementById("lblDailyRate").innerHTML = "";
        document.getElementById("lblSalary").innerHTML = "";
        var url = "@Url.Action("GetSelectedCasualRate", "Maintenance")";
        var CasualRateID = $("#ddlCasualStatus").val();
        $.getJSON(url, { CasualRateID: CasualRateID }, function (result) {
            $.each(result, function (i, field) {
                if (i == 'Salary') {
                    document.getElementById("lblDailyRate").innerHTML = field;
                }
                else if (i == 'strSalary') {
                    document.getElementById("lblSalary").innerHTML = field;
                }
            });
        });
    }
    function ReqClose() {
        document.documentElement.style.overflow = 'auto';  // firefox, chrome
        document.body.scroll = "yes";
        $("#ProposeNewCasual").data("kendoWindow").close();
    }
    function reqSave() {
        var PlanYear=$("#PlanYear").val()  -1
        var urlSave = "@Url.Action("SaveNewCasual", "Maintenance")";
        var url2 = "@Url.Action("UpdateCasual", "Maintenance")";
        var EmploymentStatus = $("#ddlCasualStatus").val();
        var AppointmentDate = $("#dpAppointmentDateCasual").val();
        var OfficeID = $("#ddlOffices").val();
        var HazardPay = 0;
        var Subsistence= 0;
        var Quantity = $("#Quantity").val();
        if (document.getElementById("cbHazardCasual").checked == true) {
            HazardPay =2000;
        }
        else {
            HazardPay = 0;
        }
        if (document.getElementById("cbSubsistenceCasual").checked == true) {
            Subsistence = 1650;
        }
        else {
            Subsistence = 0;
        }
        if ( EmploymentStatus == "" || AppointmentDate == "") {
            swal({
                title: "Notice!",
                text: "Complete The Fields",
                type: "info",
                showCancelButton: false,
                confirmButtonColor: "#1fa67a",
                confirmButtonText: "OK!",
                closeOnConfirm: true,
            });
        }
        else {
            if (document.getElementById("btnsave").innerHTML == "Update") {
                $.post(url2, { ProposedItemID:@Model.SeriesID, AppointmentDate: AppointmentDate, EmploymentStatus: EmploymentStatus,HazardPay:HazardPay,Subsistence:Subsistence }, function (d) {
                    if (d == 1) {
                        swal({
                            title: "Notice!",
                            text: "Successfuly Updated",
                            type: "success",
                            showCancelButton: false,
                            confirmButtonColor: "#1fa67a",
                            confirmButtonText: "OK!",
                            closeOnConfirm: true,
                        });
                        $("#grdPlantillaList").data("kendoGrid").dataSource.read();
                        $("#ddlCasualStatus").data("kendoDropDownList").value(0);
                        $("#dpAppointmentDateCasual").data("kendoDatePicker").value(new Date(new Date().getFullYear() + 1, 0, 1));
                        document.getElementById("lblDailyRate").innerHTML = "";
                        document.getElementById("lblSalary").innerHTML = "";
                        document.getElementById("btnsave").innerHTML = "Save";
                        $("#Quantity").prop("readonly", false);
                        document.getElementById("cbSubsistenceCasual").checked = false;
                        document.getElementById("cbHazardCasual").checked = false;
                        document.getElementById("Quantity").value = 1;
                        document.documentElement.style.overflow = 'auto';  // firefox, chrome
                        document.body.scroll = "yes";
                        $("#ProposeNewCasual").data("kendoWindow").close();
                    }
                })
            }
            else {
                $.post(urlSave, { EmploymentStatus: EmploymentStatus, AppointmentDate: AppointmentDate, OfficeID: OfficeID,HazardPay:HazardPay,Subsistence:Subsistence,Quantity:Quantity,PlanYear:PlanYear }, function (d) {
                    if (d == 1) {
                        swal({
                            title: "Notice!",
                            text: "Successfuly Saved",
                            type: "success",
                            showCancelButton: false,
                            confirmButtonColor: "#1fa67a",
                            confirmButtonText: "OK!",
                            closeOnConfirm: true,
                        });
                        $("#grdPlantillaList").data("kendoGrid").dataSource.read();
                        $("#ddlCasualStatus").data("kendoDropDownList").value(0);
                        $("#dpAppointmentDateCasual").data("kendoDatePicker").value(new Date(new Date().getFullYear() + 1, 0, 1));
                        document.getElementById("lblDailyRate").innerHTML = "";
                        document.getElementById("lblSalary").innerHTML = "";
                        $("#Quantity").prop("readonly", false);
                        document.getElementById("cbSubsistenceCasual").checked = false;
                        document.getElementById("cbHazardCasual").checked = false;
                        document.getElementById("Quantity").value = 1;
                    }
                })
            }
        }
    }
    function CheckIfMax(){
        if(document.getElementById("Quantity").value < 1){
            document.getElementById("Quantity").value = 1;
        }
    }
</script>
<label style="color:red">Note : * Salary is Computed 22 working days per month</label>
<label style="display:inline-block">
    Employment Status :<br />
    @(Html.Kendo().DropDownList()
                         .Name("ddlCasualStatus")
                         .DataTextField("EmploymentStatus")
                         .DataValueField("EmploymentStatusID")
                         .MinLength(1)
                         .OptionLabel("Select Rate")
                         .HtmlAttributes(new { @style = "width: 242px;" })
                         .DataSource(source => source.Read(read => read.Action("ddlCasualRate", "Dropdowns")))
                         .Events(e => e.Change("GetSelectedCasualRate"))
    )
</label>
<div style="display:inline-block; margin-left:10px">
    <label> Quantity</label>
    <input type="number" id="Quantity" style="width:50px" required value="1" min="1" onblur="CheckIfMax()" />
</div>
<br />
<label style="display:inline-block">
    Proposed Salary Effectivity Date :<br />
    @(Html.Kendo().DatePicker()
              .Name("dpAppointmentDateCasual")
              .Start(CalendarView.Month)
              .Depth(CalendarView.Month)
              .Value(@Model.AppointmentDate)
              .Min(new DateTime(DateTime.Now.Year + 1, 1, 1))
              .HtmlAttributes(new { style = "width: 242px; height: 100%" })
    )
</label>
<br />
<label style="display:inline-block">
    Daily Rate :<span id="lblDailyRate"></span>
</label>
<br />
<label style="display:inline-block">
    Monthly Salary :<span id="lblSalary"></span>
</label>
<br />
<div style="display : inline-block; width : 24%;">
    <input type="checkbox" id="cbHazardCasual" class="k-checkbox">
    <label class="k-checkbox-label" for="cbHazardCasual">Hazard Pay</label>
</div>
<div style="display : inline-block; width : 74%;">
    <input type="checkbox" id="cbSubsistenceCasual" class="k-checkbox">
    <label class="k-checkbox-label" for="cbSubsistenceCasual">Subsistence, Laundry and Quarters Allowances</label>
</div>
<br />
<div style="float:right">
    <div id="btnsave" class="k-button k-button-icontext" style="margin-bottom:5px;display:inline-block;width: 80px;clear:both; margin-top:5px;" onclick="reqSave()">Save</div>
    <div id="btnclose" class="k-button k-button-icontext" style="margin-bottom:5px;display:inline-block;width: 80px;clear:both; margin-top:5px;" onclick="ReqClose()">Close</div>
</div>
<script>
    if (@Model.SeriesID != 0) {
        document.getElementById("btnsave").innerHTML = "Update";
        document.getElementById("lblDailyRate").innerHTML = "@Model.Salary";
        document.getElementById("lblSalary").innerHTML = "@Model.strSalary";
        $("#ddlCasualStatus").data("kendoDropDownList").value(@Model.EmploymentStatusID);
        if (@Model.HazardPay == 0) {
            document.getElementById("cbHazardCasual").checked = false;
        }
        else {
            document.getElementById("cbHazardCasual").checked = true;
        }
        if (@Model.Subsistence == 0) {
            document.getElementById("cbSubsistenceCasual").checked = false;
        }
        else {
            document.getElementById("cbSubsistenceCasual").checked = true;
        }
        $("#Quantity").prop("readonly", true);
    }
    
</script>