@model iFMIS_BMS.BusinessLayer.Models.lbp5
<script>
    function submitEditMFOBreakdown(){
        var PPA_CodeRef = document.getElementById("PPA_CodeRefEdit").value;
        var PPA_DescriptionID = $("#PPADescriptionEdit").val();
        var PPADescription = $("#PPADescriptionEdit").data("kendoComboBox").text();
        var AccountList = $("#AccountListEdit").val();
        var PPA_TARGET = document.getElementById("PPA_TARGETEdit").value;
        var PPA_Output_Indicator = document.getElementById("PPA_Output_IndicatorEdit").value;
        var From = document.getElementById("FromEdit").value;
        var To = document.getElementById("ToEdit").value;
        var Send_MFO_ID = document.getElementById("Send_MFO_IDEdit").value;
        var PPA_ID = document.getElementById("PPA_IDEdit").value;
        var url = "@Url.Action("SaveEditBreakdown", "Maintenance")";
        //alert(AccountList);

        $.get(url, { PPA_ID: PPA_ID, PPA_CodeRef: PPA_CodeRef, PPADescription: PPADescription, AccountList: AccountList, PPA_TARGET: PPA_TARGET, PPA_Output_Indicator: PPA_Output_Indicator, From: From, To: To, Send_MFO_ID: Send_MFO_ID, PPA_DescriptionID: PPA_DescriptionID }, function(e){
            if(e == "success"){
                swal({
                    title: "Success",
                    text: "MFO Breakdown Succesfully Updated",
                    timer: 2000,
                    type: "success",
                    showConfirmButton: false
                });
                setTimeout(function(){ 
                    $("#grid_"+ @Model.PPA_MFO_ID).data("kendoGrid").dataSource.read();
                    if ($("#PPASizeIndicator").val() == 0) {
                        document.documentElement.style.overflow = 'auto';  // firefox, chrome
                        document.body.scroll = "yes";
                        $(window).scrollTop(CurrentScrollPosition);
                    }
                    $("#windowEditMFOBreakdown").data("kendoWindow").close();
                }, 2000);
            }else{
                swal({
                    title: "Error",
                    text: "Something went wrong.",
                    timer: 2000,
                    type: "error",
                    showConfirmButton: false
                });
            }

        });

    }
    function oncloseWindowEditBreakdown() {
        if ($("#PPASizeIndicator").val() == 0) {
            document.documentElement.style.overflow = 'auto';  // firefox, chrome
            document.body.scroll = "yes";
            $(window).scrollTop(CurrentScrollPosition);
        }
        $("#windowEditMFOBreakdown").data("kendoWindow").close();
    }
</script>
    <input type="text" id="PPA_IDEdit" name="PPA_IDEdit" value="@Model.PPA_IDparam" hidden="hidden">
    <input type="text" id="Send_MFO_IDEdit" name="Send_MFO_IDEdit" value="@Model.PPA_MFO_ID" hidden="hidden" />
    <div style="margin-top:5px;margin-left:5px;float:left;width:100%;display:inline-block">
        <div style="float:left;width:150px;">
            <label>Code Reference</label>
            <input type="text" id="PPA_CodeRefEdit" name="PPA_CodeRefEdit" value="@Model.PPA_CodeRefparam" style="width:100%" />
        </div>
        <div style="float:left;margin-left:20px;width:630px">
            <label>Program/Activity/Project Description</label>
            <script>
                function PPP_DESCparam(){
                    var OfficeID = @Account.UserInfo.Department;
                    var MFO_ID = @Model.PPA_MFO_ID;
                    return {
                        OfficeID: OfficeID,
                        MFO_ID: MFO_ID
                    }
                }
            </script>
            @(Html.Kendo().ComboBox()
              .Name("PPADescriptionEdit")
              .DataTextField("PPA_Description")
              .Placeholder("Select Description . . .")
              .Filter("contains")
              .MinLength(2)
              .DataValueField("PPA_ID")
              .HtmlAttributes(new { @style = "width:100%;height:110%;" })
              .DataSource(source => source.Read(read => read.Action("ddlPPA_DESC", "Dropdowns").Data("PPP_DESCparam"))))
        </div>
    </div>
    <div style="margin-top:5px;margin-left:5px;float:left;display:inline-block">
        <div style="float:left;width:350px;">
            <label>Cost</label>
            <input type="number" id="AccountListEdit" name="AccountList" value="@Model.PPA_Costparam" style="width:500px;">
        </div>
        <div style="float:left;margin-left:180px">
            <label>Target</label>
            <input type="text" id="PPA_TARGETEdit" name="PPA_TARGET" value="@Model.PPA_Targetparam" style="width:260px;" />
        </div>
    </div>
    <div style="margin-top:5px;margin-left:5px;width:100%;display:inline-block">
        <label>Output Indicator</label>
        <input type="text" id="PPA_Output_IndicatorEdit" name="PPA_Outpput_Indicator" value="@Model.PPA_Output_Indicatorparam" style="width:94%" />
    </div>
    <div style="margin-top:5px;margin-left:5px;display:inline-block">
        <label>Implementation</label>
        <div style="float:left;width:300px">
            <label>FROM</label>
            <input type="text" id="FromEdit" name="FromEdit" value="@Model.PPA_Implement_FROMparam" />
        </div>
        <div style="float:left;width:300px;margin-left:35px">
            <label>TO</label>
            <input type="text" id="ToEdit" name="ToEdit" value="@Model.PPA_Implement_TOparam" />
        </div>
    </div>
    <div style="margin-top:10px;float:right;margin-right:5px;display:inline-block">
        <div class="k-button k-state-active" onclick="submitEditMFOBreakdown()"><i class="fa fa-plus"></i> Update Breakdown</div>
        <div class="k-button" onclick="oncloseWindowEditBreakdown()"><i class="fa fa-close"></i> Close</div>
    </div>

<script>

    $(document).ready(function () {
        if (@Model.PPA_ID != 0) {
            $("#PPADescriptionEdit").data("kendoComboBox").value(@Model.PPA_IDparam)
        }
    });
</script>