@model iFMIS_BMS.BusinessLayer.Models.lbp5
<script>
    function SumbitMFO() {
        
        var MFONameEdit = document.getElementById("MFONameEdit").value;
        var MFOID = document.getElementById("MFOID").value;
        var MFO_COST = document.getElementById("MFOCostEdit").value;
        var OrderBy = $("#orderByEditMFO").val();
        var url = "@Url.Action("SaveEditMFO", "Maintenance")";
        $.post(url, { MFOID: MFOID, MFONameEdit: MFONameEdit, MFO_COST: MFO_COST, OrderBy: OrderBy }, function (e) {
            if (e == "success") {
                swal({
                    title: "Success",
                    text: "MFO has been Updated!",
                    type: "success",
                    timer: 2000,
                    showConfirmButton: false
                });
                setTimeout(function(){ 
                    if ($("#PPASizeIndicator").val() == 0) {
                        document.documentElement.style.overflow = 'auto';  // firefox, chrome
                        document.body.scroll = "yes";
                        $(window).scrollTop(CurrentScrollPosition);
                    }
                    $("#windowEditMFO").data("kendoWindow").close();
                    $("#grPPA").data("kendoGrid").dataSource.read();
                }, 2000);
                
            } else {
                swal({
                    title: "Error",
                    text: e,
                    type: "error",
                    timer: 2000,
                    showConfirmButton: false
                });
            }
        });
    }
    function oncloseWindowEditMFO() {
        if ($("#PPASizeIndicator").val() == 0) {
            document.documentElement.style.overflow = 'auto';  // firefox, chrome
            document.body.scroll = "yes";
            $(window).scrollTop(CurrentScrollPosition);
        }
        $("#windowEditMFO").data("kendoWindow").close();
    }
</script>
<div style="margin-top:5px;margin-left:5px;">
    <label>MFO Description</label>
    <textarea name="MFONameEdit" id="MFONameEdit" style="width:97%;height:70px">@Model.PPA_MFO_Description</textarea>
    @*<input type="text" name="MFONameEdit" id="MFONameEdit" value="@Model.PPA_MFO_Description" style="width:90%" />*@
    <input type="text" name="MFOID" id="MFOID" value="@Model.PPA_MFO_ID" hidden="hidden" />
</div>
<div style="margin-top:5px;margin-left:5px;">
    <label>Cost</label>
    <input type="number" name="MFOCostEdit" id="MFOCostEdit" value="@Model.MFO_Cost" style="width:97%" />
</div>
<div style="margin-top:5px;margin-left:5px;">
    <label>Order By</label>
    @(Html.Kendo().ComboBox()
                  .Name("orderByEditMFO")
                  .Filter("contains")
                  .MinLength(1)
                  .Placeholder("Select order by")
                  .DataTextField("x")
                  .DataValueField("x")
                  .HtmlAttributes(new { @style = "height:110%;" })
                  .DataSource(source => source.Read(read => read.Action("ddlOrderby", "Dropdowns")).ServerFiltering(false))
    )
</div>
<div style="margin-top:5px;float:right;margin-right:5px;">
    <div class="k-button k-state-active" onclick="SumbitMFO()"><i class="fa fa-plus"></i> Update MFO</div> <div class="k-button" onclick="oncloseWindowEditMFO()"><i class="fa fa-close"></i> Close</div>
</div>
<script>
    $(document).ready(function () {
        var OrderBy = @Model.PPA_MFOOrderBy;
        $("#orderByEditMFO").data("kendoComboBox").value(OrderBy);
    });
</script>