@model iFMIS_BMS.BusinessLayer.Models.lbp5
<script>
    function SumbitOBJ() {
        var ObjNameEDIT = document.getElementById("ObjNameEDIT").value;
        var ObjID = document.getElementById("ObjID").value;
        var OrderBy = $("#orderByEditObj").val();
        var url = "@Url.Action("SaveEditOBJ", "Maintenance")";
        $.post(url, {ObjNameEDIT: ObjNameEDIT, OrderBy: OrderBy, ObjID: ObjID }, function(e){
            if(e == "success"){
                swal({
                    title: "Success",
                    text: "Objectives has been Updated!",
                    type: "success",
                    timer: 2000,
                    showConfirmButton: false
                });
                setTimeout(function(){ 
                    $("#grOBJ").data("kendoGrid").dataSource.read();
                    if ($("#ObjectiveSizeIndicator").val() == 0) {
                        document.documentElement.style.overflow = 'auto';  // firefox, chrome
                        document.body.scroll = "yes";
                        $(window).scrollTop(CurrentScrollPosition);
                    }
                    $("#windowEditAddOBJ").data("kendoWindow").close();
                }, 2000);
                
            }else{
                swal({
                    title: "Error",
                    text: "Failed to Update!",
                    type: "error",
                    timer: 2000,
                    showConfirmButton: false });
            }

        });
    }

    function oncloseWindowEditOBJ()
    {
        if ($("#ObjectiveSizeIndicator").val() == 0) {
            document.documentElement.style.overflow = 'auto';  // firefox, chrome
            document.body.scroll = "yes";
            $(window).scrollTop(CurrentScrollPosition);
        }
        $("#windowEditAddOBJ").data("kendoWindow").close();
    }

</script>
<div style="margin-top:5px;margin-left:5px;">
    <label>Objective Description</label>
    <textarea name="ObjNameEDIT" id="ObjNameEDIT" style="width:97%;height:70px">@Model.DescriptionOBJ_param</textarea>
    @*<input type="text" name="ObjNameEDIT" id="ObjNameEDIT" value="@Model.DescriptionOBJ_param" style="width:90%" />*@
    <input type="text" name="ObjID" id="ObjID" value="@Model.OBJID_param" hidden="hidden" />
</div>
<div style="margin-top:5px;margin-left:5px;">
    <label>Order By</label>
    @(Html.Kendo().ComboBox()
                  .Name("orderByEditObj")
                  .Filter("contains")
                  .MinLength(1)
                  .Placeholder("Select order by")
                  .DataTextField("x")
                  .DataValueField("x")
                  .HtmlAttributes(new { @style = "height:110%;" })
                  .DataSource(source => source.Read(read => read.Action("ddlOrderby", "Dropdowns")).ServerFiltering(false))
    )
</div>
<div style="margin-top:5px;float:right;margin-right:5px;">
    <div class="k-button k-state-active" onclick="SumbitOBJ()"><i class="fa fa-plus"></i> Update Objectives</div> <div class="k-button" onclick="oncloseWindowEditOBJ()"><i class="fa fa-close"></i> Close</div>
</div>
<script>
    $(document).ready(function () {
        var OrderBy = @Model.OrderOBJ_param;
        $("#orderByEditObj").data("kendoComboBox").value(OrderBy);
    });

</script>
