#UpdateProgram
<script>
    function reqSave() {
        var url = "@Url.Action("UpdatePrograms","Maintenance")";
        var frmData = $('#formProgram').serialize();
        $.post(url, frmData, function (d) {
            if (d == "Success") {
                $.Notify({
                    caption: 'Success!',
                    content: 'Programs Updated!',
                    icon: "<span class='mif-checkmark'></span>",
                    type: 'success'
                });
                $('#webTitle').html("Add Accounts");
                var url = "@Url.Action("pvUpdateProgram", "Maintenance")";
                $.get(url, function (d) {
                    $('#siteContent').html(d);
                })
            } else {
                //notifi.show(d, "error");
                //alert("Failed!");
                swal("Error!", "Please try again.", "error")
            }
        })
    }
</script>
<div style="float: left;border:outset; border-width:1px;border-color:#038603; width: 745px; padding-left:7px;padding-right:7px;padding-top:7px;padding-bottom:7px;">
    <form id="formProgram" method="post">
        <h3 style="color:#000000">Update Programs</h3>
        <div style="margin-top:20px">
            
            <label>FMIS Office</label>
            <script>
                function onSelect() {
                    $("#grd_ApprovedBudget").data("kendoGrid").dataSource.read();
                }
            </script>



            @(Html.Kendo().DropDownList()
                    //PoPOut design || Text Field Drop codes
                                    .Name("office_id")
                                    .DataTextField("office_name")
                                    .OptionLabel("Select Office . .")
                                    .DataValueField("office_id")
                                                    .HtmlAttributes(new { @style = "width: 80%;" }).Events(e =>
                                                            {
                                                                e.Change("onSelect");
                                                            })
                    //dropdown connector to EmployeeController
                                                    .DataSource(source => { source.Read(read => { read.Action("ddlOffice", "Dropdowns"); }); })
            )
           
            <script>
                function ProgramReceive() {
                    var DataDropdown = $("#office_id").val();
                    return {
                        DataDropdown: DataDropdown
                    }
                }

                function onClick() {
                    var entityGrid = $("#grd_ApprovedBudget").data("kendoGrid");
                    var selectedItem = entityGrid.dataItem(entityGrid.select());
                    // alert("Selected :" + selectedItem.program_id);
                    document.getElementById("program_name").value = selectedItem.program_name;
                    document.getElementById("program_id").value = selectedItem.program_id;
                    $("#fund_id").data("kendoDropDownList").value(selectedItem.fund_id);


                }
            </script>
            <input type="text" id="program_id" name="program_id" value="" hidden="hidden"/>
        </div>
        <div style="margin-top:20px;">
            <label>Programs</label>

            @(Html.Kendo().Grid<iFMIS_BMS.BusinessLayer.Models.Maintenance.programs>()
    .Name("grd_ApprovedBudget")
    .Columns(col =>
    {
        col.Bound(m => m.program_id).Title("Program ID").Hidden();
        col.Bound(m => m.program_name).Title("Program");
        col.Bound(m => m.fund_id).Title("Fund ID").Hidden();
    })
    .ToolBar(t => t.Template(@<text>


        <div style="float: left; width: 0; margin-top:-3px;margin-bottom:-100px;margin-left:-3px; height: 0; border-right: 0px solid #333333; border-bottom: 37px solid #333333; border-left: 65px solid #333333;">
            <div style="float: left; width: 0; margin-top:1px;margin-bottom:-97px;margin-left:-33px; height: 0; border-left: 35px solid #333333; border-bottom: 36px solid #038603; ">

                <div style="float: left; height:28px; margin-left:-59px; margin-top: 5px;">
                    <i class="fa fa-tasks fa-2x fg-white"></i>

                </div>

            </div>
        </div>

        <div style="float: right; height:28px;margin-top:2px;">
            <link href="~/Content/metroui/css/docs.css" rel="stylesheet" />


        </div>
    </text>))
                                .Pageable(page => page.Refresh(true)
                                .Enabled(true)
                                .ButtonCount(4)
                                .PreviousNext(true)
                                )
                                   .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                                   .Events(e =>
                                   {
                                       e.Change("onClick");
                                   })
                                   .DataSource(d => d
                                   .Ajax()
                                   .PageSize(10)
                                   .Model(m => m.Id(i => i.program_id))
                                   .Read(read => read.Action("ProgramData", "Maintenance").Data("ProgramReceive"))
                                   )


            )
        </div>
        <div style="margin-top:20px;">
            <label>Program Name</label>
            <input type="text" class="k-textbox" style="width: 80%;" id="program_name" name="program_name" value="" />
        </div>
        <div style="margin-top:20px;">
            <label>Fund Type</label>
            @(Html.Kendo().DropDownList()
                    //PoPOut design || Text Field Drop codes
                                    .Name("fund_id")
                                    .DataTextField("fund_name")
                                    .DataValueField("fund_id")
                                    .OptionLabel("Select Type...")
                                    .SelectedIndex(0)
                                    .HtmlAttributes(new { @style = "width: 80%;" })
                    //dropdown connector to EmployeeController
                                    .DataSource(source => source.Read(read => read.Action("ddlFund", "Dropdowns")))
            )

        </div>
    </form>
    <div class="k-button k-button-icontext" onclick="reqSave()" style="padding:5px;float:right;margin-top:10px">Update Program</div>

</div>