<script>
    function change_text() {
        var ooe_ids = $('#float_ooe_id_null').val()
        $("#float_account_list_null").data("kendoComboBox").dataSource.read();
        if (ooe_ids == 1) {

            document.getElementById("float_PS_nulls").disabled = false;
            document.getElementById("float_MOOE_nulls").disabled = true;
            document.getElementById("float_CO_nulls").disabled = true;

        }
        else if (ooe_ids == 2) {
            document.getElementById("float_PS_nulls").disabled = true;
            document.getElementById("float_MOOE_nulls").disabled = false;
            document.getElementById("float_CO_nulls").disabled = true;
        }
        else if (ooe_ids == 3) {
            document.getElementById("float_PS_nulls").disabled = true;
            document.getElementById("float_MOOE_nulls").disabled = true;
            document.getElementById("float_CO_nulls").disabled = false;
        }
        else {
            document.getElementById("float_PS_nulls").disabled = true;
            document.getElementById("float_MOOE_nulls").disabled = true;
            document.getElementById("float_CO_nulls").disabled = true;
        }
    }

    function ApproveCom() {
        var url = "@Url.Action("releasefloat", "Release")";
        var idsToSend = [];
        var grid = $("#grd_comsum").data("kendoGrid")
        var ds = grid.dataSource.view();
        var officeid = $("#offs").val() == "" ? 0 : $("#offs").val();
        var accountid = $("#account_list").val() == "" ? 0 : $("#account_list").val();
        var yearof=$("#ddlYear").val();

        //if ($("#offs").val() != "" && $("#account_list").val() != "") {
            var url2 = "@Url.Action("releasefloatselected", "Release")";
            for (var i = 0; i < ds.length; i++) {
                var row = grid.table.find("tr[data-uid='" + ds[i].uid + "']");
                var checkbox = $(row).find(".checkbox");
                if (checkbox.is(":checked")) {
                    idsToSend.push(ds[i].release_float_id);
                }
            }
                //alert(idsToSend)
                if (idsToSend == "") {
                    swal({ title: "Error!", text: "Please mark the accounts first", timer: 2500, showConfirmButton: false, type: "error" });
                } else {
                    swal({
                        title: "Are you sure?",
                        text: "You want to approve the selected transactions?",
                        type: "info",
                        showCancelButton: true,
                        closeOnConfirm: false,
                        confirmButtonColor: "#1fa67a",
                        confirmButtonText: "Yes!",
                        showLoaderOnConfirm: true,
                    }, function () {

                        $.post(url2, { release_float_id: idsToSend }, function (d) {
                            if (d == 'success') {
                                swal({ title: "Success!", text: "Successfully approved!", timer: 2500, showConfirmButton: false, type: "success" });
                                $("#grd_comsum").data("kendoGrid").dataSource.read();
                            }
                            else {
                                swal("Something Went Wrong!", d, "error");
                            }
                        });
                    });
                }
            //}
        //}

    }

    function remove_com(release_float_id, code) {

        var url = "@Url.Action("Delete_Flaot", "Release")";

        swal({
            title: "Are you sure?",
            text: "This item will be removed!",
            type: "info",
            showCancelButton: true,
            closeOnConfirm: false,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, Remove It!",
            showLoaderOnConfirm: true,
        }, function () {


            $.get(url, { release_float_id: release_float_id, code:code }, function (d) {
                if (d == "1") {
                    swal({
                        title: "Success!",
                        text: "Selected transactions has been removed.",
                        timer: 2000,
                        type: "success",
                        showConfirmButton: false
                    })
                    $('#grd_comsum').data('kendoGrid').dataSource.read();
                } else {
                    swal({
                        title: "Error!",
                        text: "System Error! Please try again.",
                        timer: 2000,
                        type: "error",
                        showConfirmButton: false
                    })
                }
            });
        });
    }
    function fn_refresher_float_null() {

        $("#FloatWindow").data("kendoWindow").close();
        $("#GeneralFund_Grid").data("kendoGrid").dataSource.read();

    }
    setTimeout(function () {

        FundGrid_Load();

    }, 1000);

    function fn_grid_refresh_div_null() {

        setTimeout(function () {
            get_Balance();
            FundGrid_Load();
            fn_Offices();
            $("#grd_comsum").data("kendoGrid").refresh();
            $("#grd_comsum").data("kendoGrid").dataSource.read();
        }, 500);
    }


    setTimeout(function () {
        var url = "@Url.Action("FundGrid_Load", "Release")";


        $.get(url, { }, function (d) {

                $("#FundGrid_id_null").html(d);

        })

    }, 1000);


        function FundGrid_Load() {

        var url = "@Url.Action("FundGrid_Load", "Release")";
        var office_id = $("#float_offs_null").val();
        var program_id = $("#float_Progss_null").val();
        var ooe_id = $("#float_ooe_id_null").val();
        var account_id = $("#float_account_list_null").val();
        var month_ = $("#float_Months_null").val();
        var numeric_ = $("#float_numeric_null").val();
        var year_ = $("#float_ddlYear_null").val();
        var classtype = $("#classtype").val();


        $.get(url, { office_id: office_id, program_id: program_id, ooe_id: ooe_id, account_id: account_id, month_: month_, numeric_: numeric_, year_: year_ }, function (d) {
            $("#FundGrid_id_null").html(d);
        })

    }
    function fn_dprefresher_fund_null() {


        setTimeout(function () {
            $("#float_Progss_null").data("kendoDropDownList").dataSource.read();
            $("#float_ooe_id_null").data("kendoDropDownList").dataSource.read();
            $("#float_account_list_null").data("kendoComboBox").dataSource.read();

        }, 1000);

    }

    function fn_summary() {
        var year_ = $("#ddlYear").val();
        return {
            year_: year_
        }
    }

    function fn_checkbox(value) {

        if (value == 1) {
            return "<input type='checkbox' class='checkbox' disabled='disabled' checked/>";
        }
        else {
            return "<input type='checkbox' class='checkbox' />";
        }
    }
    function viewdetail(code, officeid, programid, accountid, particular, muncode, brgycode, Amount_release, YearOf) {

        $(window).scrollTop(0);
        var url = "@Url.Action("comdetails", "Release")";

        $.get(url, { officeid: officeid, programid: programid, accountid: accountid, particular: particular, muncode: muncode, brgycode: brgycode, Amount_release: Amount_release, code: code, YearOf: YearOf }, function (d) {

            $("#CommitmenDetail").html(d);
        })
        $('#CommitmenDetail').data('kendoWindow').title("<i class='fa fa-navicon'> </i> Commitment Details").center().open();

    }
    function onDataBound(e) {
        $(".k-hierarchy-cell").hide();
        $(".k-hierarchy-col").hide();
        var grid = $("#grd_comsum").data("kendoGrid")
        var ds = grid.dataSource.view();
        var rows = e.sender.tbody.children();
        var release_float_id = 0;
        var gov_com = 0;
        var comtag = 0;

        for (var i = 0; i < ds.length; i++) {
            gov_com = ds[i].gov_com;
            release_float_id = ds[i].release_float_id;
            comtag = ds[i].comtag;

            var row = $(rows[i]);

            if (gov_com != 0) {
                $('#deleteid' + release_float_id + '').css("display", "none");
            }
            if (comtag == 1) {
                row.addClass("ChangeBackColor");
            }
            else if (comtag == 2) {
                row.addClass("ChangeApprovedColor");
                $('#deleteid' + release_float_id + '').css("display", "none");
            }
            else {
                $('#viewdetailid' + release_float_id + '').css("display", "none");
            }
        }
    }
</script>

<div style="border: outset;clear:both;border-width:1px;border-color:#1fa67a; width: 1019px; padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:7px;margin-top: 0px;">
    <div style=" width: 0;height: 0; border-right: 5px solid #333333; border-bottom: 37px solid #333333; border-left: 65px solid #333333;margin-top: -1px; ">
        <div style="float: left; width: 952px; margin-top:1px;margin-bottom:-97px;margin-left:-33px; height: 0; border-left: 35px solid #333333; border-bottom: 36px solid #1fa67a; ">
            <div style="float: left; height:28px; margin-left:-59px; margin-top: 5px;">
                <i class="fa fa-tasks fa-2x fg-white"></i>

            </div>
        </div>
    </div>
    <div style="width:650px"> <label style="width:90px;display:inline-block;">&nbsp; Legend : </label> 
        
        <label style="display:inline-block;margin-left:2px;">Governor's Commitment &nbsp;</label>
        <div style="background-color:yellow;border-style:solid;width:20px;height:20px;display:inline-block;margin-top:2px"></div>
        <label style="display:inline-block;margin-left:2px;"> For Approval</label>
        <div style="background-color:#00ff21;border-style:solid;width:20px;height:20px;display:inline-block;margin-top:2px"></div>
        <label style="display:inline-block;margin-left:2px;"> Approved</label>
    </div>
    <div class="demo-section k-content" style=" float:right;margin-top: 7px;margin-right:7px ">

    </div>
    <div id="" class="demo-section k-content">
        @(Html.Kendo().Grid<iFMIS_BMS.BusinessLayer.Models.Release_Float_Model>()
        .Name("grd_comsum")
        .Scrollable()
        .Columns(col =>
        {
        col.Template(@<text></text>).Hidden().ClientTemplate("<div>#=release_float_id# </div>");
                col.Template(@<text></text>).Hidden().ClientTemplate("<div>#=code# </div>");
                col.Bound(m => m.Float_Flag)
                            .ClientTemplate("#=fn_checkbox(Float_Flag)#")
                            .Title("<input onclick=CheckAll(this) type='checkbox'   class='checkbox'/>")
                            .Width(30)
                            .HtmlAttributes(new { @onclick = "click", style = "align:center;float:none;text-align:center; font-size:12px; vertical-align: middle;" })
                            .HeaderHtmlAttributes(new { style = "text-align:center; vertical-align: middle; overflow: visible; white-space: normal" });
                col.Bound(m => m.officename)
                        .HtmlAttributes(new { style = "text-align:left;height:30px" })
                        .HeaderTemplate(@<text><div style="font-weight:600;text-align:center; vertical-align: middle; overflow: visible; white-space: normal;">Office</div></text>)
                            .Width(220)
                            .HeaderHtmlAttributes(new { style = "text-align:center; vertical-align: middle; overflow: visible; white-space: normal" });
                col.Bound(m => m.amount_description)
                        .HtmlAttributes(new { style = "text-align:left;height:30px" })
                        .HeaderTemplate(@<text><div style="font-weight:600;text-align:center; vertical-align: middle; overflow: visible; white-space: normal;">Account</div></text>)
                            .Width(220)
                            .HeaderHtmlAttributes(new { style = "text-align:center; vertical-align: middle; overflow: visible; white-space: normal" });
                col.Bound(m => m.Amount_release)
                            .HtmlAttributes(new { style = "text-align:left;height:30px" })
                            .HeaderTemplate(@<text><div style="font-weight:600;text-align:center; vertical-align: middle; overflow: visible; white-space: normal;">Amount</div></text>)
                            .Width(118)
                            .HeaderHtmlAttributes(new { style = "text-align:center; vertical-align: middle; overflow: visible; white-space: normal" })
                            .ClientTemplate("<div>#=kendo.toString(Amount_release,'c2')# </div>");

                col.Bound(m => m.MonthOf)
                            .HtmlAttributes(new { style = "text-align:left;height:30px" })
                            .HeaderTemplate(@<text><div style="font-weight:600;text-align:center; vertical-align: middle; overflow: visible; white-space: normal;">Month</div></text>)
                            .Width(70)
                            .HeaderHtmlAttributes(new { style = "text-align:center; vertical-align: middle; overflow: visible; white-space: normal" });
                col.Bound(m => m.balance_amount)
                            .HtmlAttributes(new { style = "text-align:left;height:30px" })
                            .HeaderTemplate(@<text><div style="font-weight:600;text-align:center; vertical-align: middle; overflow: visible; white-space: normal;">Balance<br />Balance Amount</div></text>)
                            .Hidden()
                            .HeaderHtmlAttributes(new { style = "text-align:center; vertical-align: middle; overflow: visible; white-space: normal" })
                            .ClientTemplate("<div>#=kendo.toString(balance_amount,'c2')# </div>");

                col.Template(t => { }).ClientTemplate(
                        "<div class='k-button k-button-icontext'  id='viewdetailid#=release_float_id#' title='Click to view details!' style='border-radius:50px;color:white;background-color:cornflowerblue;' onclick='viewdetail(\"#=code#\",#=officeid#,#=programid#,#=accountid#,\"#=particular#\",#=muncode#,#=brgycode#,#=Amount_release#,#=YearOf#)'><span class='fa fa-list-alt' style='font-size: 10pt;margin: 1px;margin-top: -1px;margin-left: 5px;margin-right: 3px;'> </span>Details</div> "
                    ).HtmlAttributes(new { style = "vertical-align: top;" }).Width(105);

                col.Template(t => { }).ClientTemplate(
                        "<div class='k-button k-button-icontext' id='deleteid#=release_float_id#' style='border-radius:50px;color:\\#ffffff;background-color:\\#DE5555;' onclick='remove_com(#=release_float_id#,\"#=code#\")'><span class='fa fa-trash-o' style='font-size: 10pt;margin: 1px;margin-top: -1px;margin-left: 5px;margin-right: 3px;'> </span>Remove</div> "
                    ).HtmlAttributes(new { style = "vertical-align: top;" }).Width(108);

                col.Bound(m => m.release_float_id)
                    .HtmlAttributes(new { style = "text-align:left;height:30px" })
                    .HeaderTemplate(@<text><div style="font-weight:600;text-align:center; vertical-align: middle; overflow: visible; white-space: normal;">Txn ID</div></text>)
                        .Hidden()
                        .HeaderHtmlAttributes(new { style = "text-align:center; vertical-align: middle; overflow: visible; white-space: normal" });
        })

                .Sortable()
                .Scrollable()
                .HtmlAttributes(new { style = "height:250px;" })
                .Events(e => e.DataBound("onDataBound"))
                .DataSource(d => d
                .Ajax()
                .PageSize(1000)
                .Model(m => m.Id(i => i.release_float_id))
                .Read(read => read.Action("commitment_summary", "Release").Data("fn_summary")))
                )




    </div>
  
</div>





<div style="float: none;clear:both;margin-top:-5px;">
    <div style="float:left;margin-top:26px;margin-left:724px">
        <div class="k-button k-button-icontext" style=" bottom: 15px; right: 220px;width: 100px; border-radius:50px;color:#ffffff;background-color:#1FA67A;" onclick="ApproveCom()"><span class='fa fa-plus-circle' style='font-size: 10pt;margin: 1px;margin-top: -1px;margin-left: 5px;margin-right: 3px;'></span> Approve</div>
    </div>
    <div style="float:left;margin-top:-29px;margin-left:835px">
        <div class="k-button k-button-icontext" style=" bottom: 15px; right: 220px;width: 80px; border-radius:50px;color:#ffffff;background-color:#DE5555;" onclick="fn_close()"><span class='fa fa-times' style='font-size: 10pt;margin: 1px;margin-top: -1px;margin-left: 5px;margin-right: 3px;'></span> Close</div>
    </div>
    @*<div class="k-button k-button-icontext" style="position: absolute; bottom: 15px; right: 120px;width: 80px;" onclick="addFloat()">Release</div>
    <div class="k-button k-button-icontext" style="position: absolute; bottom: 15px; right: 20px;width: 80px;" onclick="fn_refresher_float_null()">Close</div>*@
</div>

<script>
    function fn_close() {
        $("#CoSummary").data("kendoWindow").close();
        fn_current()
    }

</script>

<style>
    .ChangeBackColor {
        background-color: #FFFF80;
    }

    .ChangeApprovedColor {
        background-color: #00ff21;
    }

    .k-dropdown-wrap.k-state-default {
        border-left-style: solid;
    }
</style>


@(Html.Kendo().Window()
        .Name("CommitmenDetail")
        .Title("Details")
        .Width(840)
        .Height(575)
        .Visible(false)
        .Modal(true)
        .Draggable(true)
        .AutoFocus(true)
        .Events(e => e.Close("Close"))
        .Animation(a =>
        {
            a.Open(o => o.SlideIn(SlideDirection.Down));
            a.Close(c =>
            {
                c.SlideIn(SlideDirection.Down);
                c.Reverse(true);
            });
        })
                .Actions(a => { a.Close(); })
)
