
<script>
  

    function fn_History_from() {
        var url = "@Url.Action("Realignment_History", "Release")";


        $.get(url, {}, function (d) {
            $('#realign_history').html(d);
        })

        $('#realign_history').data('kendoWindow').title("<i class='fa fa-navicon'> </i> Realigned From").center().open();

    }
    function fn_closeRealigned_From() {

        $("#history_from").data("kendoWindow").close();
    }
    function fn_save_edit_realign_From() {

        var url = "@Url.Action("Save_Realign_Edit", "Release")";


        var year_ = $("#ddlYear").val();
        var amount = $('#amount_torealign_FROM').val()
        var realignment_id = $('#for_ID_FROM').val()
        var amount_dum = $('#amount_torealign_FROM_dum').val()
        var amountAvailable = $('#available_amount_FROM').val()
        var tobe_amount = $('#total_toberealign_FROM').val()
        var transdate = $("#datetimentered").val()


        if (Number(amount) > Number(amount_dum)) {
            var amount_Cya = Number(amount) - Number(amount_dum);
            if (Number(amount_Cya) > Number(amountAvailable)) {
                swal({
                    title: "Oopps!",
                    text: "Exceed amount! Try again...",
                    timer: 3000,
                    type: "error",
                    showConfirmButton: false
                })

            } else {





                if (Number(tobe_amount) == 0) {
                    if (Number(amount) < Number(amount_dum)) {
                        swal({
                            title: "Oopps!",
                            text: "Exceed amount! Try again...",
                            timer: 3000,
                            type: "error",
                            showConfirmButton: false
                        })

                    } else {
                        if (Number(amountAvailable) == 0) {


                            if (Number(amount) > Number(amount_dum)) {
                                swal({
                                    title: "Oopps!",
                                    text: "Exceed amount! Try again...",
                                    timer: 3000,
                                    type: "error",
                                    showConfirmButton: false
                                })

                            } else {



                                if (Number(realignment_id) == 0) {
                                    swal({
                                        title: "Oopps!",
                                        text: "Please Select an Item.",
                                        timer: 2000,
                                        type: "error",
                                        showConfirmButton: false
                                    })

                                } else {

                                    swal({
                                        title: "Are you sure?",
                                        text: "This item will be EDITED and SAVED!",
                                        type: "info",
                                        showCancelButton: true,
                                        closeOnConfirm: false,
                                        confirmButtonColor: "#1fa67a",
                                        confirmButtonText: "Yes, Save It!",
                                        showLoaderOnConfirm: true,
                                    }, function () {

                                        $.post(url, {
                                            year_: year_,
                                            amount: ConvertCommasToEmpty(amount),
                                            realignment_id: realignment_id,
                                            amount_dum: amount_dum,
                                            transdate: transdate
                                        }, function (e) {
                                            if (e == "1") {
                                                swal({
                                                    title: "Success!",
                                                    text: "Non-Office Account has been Removed.",
                                                    timer: 2000,
                                                    type: "success",
                                                    showConfirmButton: false
                                                })



                                                document.getElementById("amount_torealign_FROM").disabled = true;
                                                refmemem();
                                                fn_refreshtext_null();
                                                reffff();
                                                $('#Realigned_From_Grid').data('kendoGrid').dataSource.read();

                                                document.getElementById("for_ID_FROM").value = 0;
                                                document.getElementById("amount_torealign_FROM_dum").value = 0;
                                                document.getElementById("amount_torealign_FROM").value = 0;
                                            } else {
                                                swal({
                                                    title: "Error!",
                                                    text: "System Error! Please try again.",
                                                    timer: 2000,
                                                    type: "error",
                                                    showConfirmButton: false
                                                })
                                            }

                                        })
                                    });


                                }


                            }

                        } else {



                            if (Number(realignment_id) == 0) {
                                swal({
                                    title: "Oopps!",
                                    text: "Please Select an Item.",
                                    timer: 2000,
                                    type: "error",
                                    showConfirmButton: false
                                })

                            } else {

                                swal({
                                    title: "Are you sure?",
                                    text: "This item will be EDITED and SAVED!",
                                    type: "info",
                                    showCancelButton: true,
                                    closeOnConfirm: false,
                                    confirmButtonColor: "#1fa67a",
                                    confirmButtonText: "Yes, Save It!",
                                    showLoaderOnConfirm: true,
                                }, function () {

                                    $.post(url, {
                                        year_: year_,
                                        amount: ConvertCommasToEmpty(amount),
                                        realignment_id: realignment_id,
                                        amount_dum: amount_dum,
                                        transdate: transdate
                                    }, function (e) {
                                        if (e == "1") {
                                            swal({
                                                title: "Success!",
                                                text: "Non-Office Account has been Removed.",
                                                timer: 2000,
                                                type: "success",
                                                showConfirmButton: false
                                            })



                                            document.getElementById("amount_torealign_FROM").disabled = true;
                                            refmemem();
                                            fn_refreshtext_null();
                                            reffff();
                                            $('#Realigned_From_Grid').data('kendoGrid').dataSource.read();

                                            document.getElementById("for_ID_FROM").value = 0;
                                            document.getElementById("amount_torealign_FROM_dum").value = 0;
                                            document.getElementById("amount_torealign_FROM").value = 0;
                                        } else {
                                            swal({
                                                title: "Error!",
                                                text: "System Error! Please try again.",
                                                timer: 2000,
                                                type: "error",
                                                showConfirmButton: false
                                            })
                                        }

                                    })
                                });


                            }
                            //else if available amount == 0
                        }

                    }
                }
                else {
                    if (Number(amountAvailable) == 0) {


                        if (Number(amount) > Number(amount_dum)) {
                            swal({
                                title: "Oopps!",
                                text: "Exceed amount! Try again...",
                                timer: 3000,
                                type: "error",
                                showConfirmButton: false
                            })

                        } else {



                            if (Number(realignment_id) == 0) {
                                swal({
                                    title: "Oopps!",
                                    text: "Please Select an Item.",
                                    timer: 2000,
                                    type: "error",
                                    showConfirmButton: false
                                })

                            } else {

                                swal({
                                    title: "Are you sure?",
                                    text: "This item will be EDITED and SAVED!",
                                    type: "info",
                                    showCancelButton: true,
                                    closeOnConfirm: false,
                                    confirmButtonColor: "#1fa67a",
                                    confirmButtonText: "Yes, Save It!",
                                    showLoaderOnConfirm: true,
                                }, function () {

                                    $.post(url, {
                                        year_: year_,
                                        amount: ConvertCommasToEmpty(amount),
                                        realignment_id: realignment_id,
                                        amount_dum: amount_dum,
                                        transdate: transdate
                                    }, function (e) {
                                        if (e == "1") {
                                            swal({
                                                title: "Success!",
                                                text: "Non-Office Account has been Removed.",
                                                timer: 2000,
                                                type: "success",
                                                showConfirmButton: false
                                            })



                                            document.getElementById("amount_torealign_FROM").disabled = true;
                                            refmemem();
                                            fn_refreshtext_null();
                                            reffff();
                                            $('#Realigned_From_Grid').data('kendoGrid').dataSource.read();

                                            document.getElementById("for_ID_FROM").value = 0;
                                            document.getElementById("amount_torealign_FROM_dum").value = 0;
                                            document.getElementById("amount_torealign_FROM").value = 0;
                                        } else {
                                            swal({
                                                title: "Error!",
                                                text: "System Error! Please try again.",
                                                timer: 2000,
                                                type: "error",
                                                showConfirmButton: false
                                            })
                                        }

                                    })
                                });


                            }


                        }

                    } else {



                        if (Number(realignment_id) == 0) {
                            swal({
                                title: "Oopps!",
                                text: "Please Select an Item.",
                                timer: 2000,
                                type: "error",
                                showConfirmButton: false
                            })

                        } else {

                            swal({
                                title: "Are you sure?",
                                text: "This item will be EDITED and SAVED!",
                                type: "info",
                                showCancelButton: true,
                                closeOnConfirm: false,
                                confirmButtonColor: "#1fa67a",
                                confirmButtonText: "Yes, Save It!",
                                showLoaderOnConfirm: true,
                            }, function () {

                                $.post(url, {
                                    year_: year_,
                                    amount: ConvertCommasToEmpty(amount),
                                    realignment_id: realignment_id,
                                    amount_dum: amount_dum,
                                    transdate: transdate
                                }, function (e) {
                                    if (e == "1") {
                                        swal({
                                            title: "Success!",
                                            text: "Non-Office Account has been Removed.",
                                            timer: 2000,
                                            type: "success",
                                            showConfirmButton: false
                                        })



                                        document.getElementById("amount_torealign_FROM").disabled = true;
                                        refmemem();
                                        fn_refreshtext_null();
                                        reffff();
                                        $('#Realigned_From_Grid').data('kendoGrid').dataSource.read();

                                        document.getElementById("for_ID_FROM").value = 0;
                                        document.getElementById("amount_torealign_FROM_dum").value = 0;
                                        document.getElementById("amount_torealign_FROM").value = 0;
                                    } else {
                                        swal({
                                            title: "Error!",
                                            text: "System Error! Please try again.",
                                            timer: 2000,
                                            type: "error",
                                            showConfirmButton: false
                                        })
                                    }

                                })
                            });


                        }
                        //else if available amount == 0
                    }
                }


            }


        } else {
            var amount_Cya =  Number(amount_dum) - Number(amount) ;

            if (Number(amount_Cya) > Number(tobe_amount)) {
                swal({
                    title: "Oopps!",
                    text: "Exceed amount! Try again...",
                    timer: 3000,
                    type: "error",
                    showConfirmButton: false
                })

            } else {





                if (Number(tobe_amount) == 0) {
                    if (Number(amount) < Number(amount_dum)) {
                        swal({
                            title: "Oopps!",
                            text: "Exceed amount! Try again...",
                            timer: 3000,
                            type: "error",
                            showConfirmButton: false
                        })

                    } else {
                        if (Number(amountAvailable) == 0) {


                            if (Number(amount) > Number(amount_dum)) {
                                swal({
                                    title: "Oopps!",
                                    text: "Exceed amount! Try again...",
                                    timer: 3000,
                                    type: "error",
                                    showConfirmButton: false
                                })

                            } else {



                                if (Number(realignment_id) == 0) {
                                    swal({
                                        title: "Oopps!",
                                        text: "Please Select an Item.",
                                        timer: 2000,
                                        type: "error",
                                        showConfirmButton: false
                                    })

                                } else {

                                    swal({
                                        title: "Are you sure?",
                                        text: "This item will be EDITED and SAVED!",
                                        type: "info",
                                        showCancelButton: true,
                                        closeOnConfirm: false,
                                        confirmButtonColor: "#1fa67a",
                                        confirmButtonText: "Yes, Save It!",
                                        showLoaderOnConfirm: true,
                                    }, function () {

                                        $.post(url, {
                                            year_: year_,
                                            amount: ConvertCommasToEmpty(amount),
                                            realignment_id: realignment_id,
                                            amount_dum: amount_dum,
                                            transdate: transdate
                                        }, function (e) {
                                            if (e == "1") {
                                                swal({
                                                    title: "Success!",
                                                    text: "Non-Office Account has been Removed.",
                                                    timer: 2000,
                                                    type: "success",
                                                    showConfirmButton: false
                                                })



                                                document.getElementById("amount_torealign_FROM").disabled = true;
                                                refmemem();
                                                fn_refreshtext_null();
                                                reffff();
                                                $('#Realigned_From_Grid').data('kendoGrid').dataSource.read();

                                                document.getElementById("for_ID_FROM").value = 0;
                                                document.getElementById("amount_torealign_FROM_dum").value = 0;
                                                document.getElementById("amount_torealign_FROM").value = 0;
                                            } else {
                                                swal({
                                                    title: "Error!",
                                                    text: "System Error! Please try again.",
                                                    timer: 2000,
                                                    type: "error",
                                                    showConfirmButton: false
                                                })
                                            }

                                        })
                                    });


                                }


                            }

                        } else {



                            if (Number(realignment_id) == 0) {
                                swal({
                                    title: "Oopps!",
                                    text: "Please Select an Item.",
                                    timer: 2000,
                                    type: "error",
                                    showConfirmButton: false
                                })

                            } else {

                                swal({
                                    title: "Are you sure?",
                                    text: "This item will be EDITED and SAVED!",
                                    type: "info",
                                    showCancelButton: true,
                                    closeOnConfirm: false,
                                    confirmButtonColor: "#1fa67a",
                                    confirmButtonText: "Yes, Save It!",
                                    showLoaderOnConfirm: true,
                                }, function () {

                                    $.post(url, {
                                        year_: year_,
                                        amount: ConvertCommasToEmpty(amount),
                                        realignment_id: realignment_id,
                                        amount_dum: amount_dum,
                                        transdate: transdate
                                    }, function (e) {
                                        if (e == "1") {
                                            swal({
                                                title: "Success!",
                                                text: "Non-Office Account has been Removed.",
                                                timer: 2000,
                                                type: "success",
                                                showConfirmButton: false
                                            })



                                            document.getElementById("amount_torealign_FROM").disabled = true;
                                            refmemem();
                                            fn_refreshtext_null();
                                            reffff();
                                            $('#Realigned_From_Grid').data('kendoGrid').dataSource.read();

                                            document.getElementById("for_ID_FROM").value = 0;
                                            document.getElementById("amount_torealign_FROM_dum").value = 0;
                                            document.getElementById("amount_torealign_FROM").value = 0;
                                        } else {
                                            swal({
                                                title: "Error!",
                                                text: "System Error! Please try again.",
                                                timer: 2000,
                                                type: "error",
                                                showConfirmButton: false
                                            })
                                        }

                                    })
                                });


                            }
                            //else if available amount == 0
                        }

                    }
                }
                else {
                    if (Number(amountAvailable) == 0) {


                        if (Number(amount) > Number(amount_dum)) {
                            swal({
                                title: "Oopps!",
                                text: "You are not allowd to exceed amount",
                                timer: 3000,
                                type: "error",
                                showConfirmButton: false
                            })

                        } else {



                            if (Number(realignment_id) == 0) {
                                swal({
                                    title: "Oopps!",
                                    text: "Please Select an Item.",
                                    timer: 2000,
                                    type: "error",
                                    showConfirmButton: false
                                })

                            } else {

                                swal({
                                    title: "Are you sure?",
                                    text: "This item will be EDITED and SAVED!",
                                    type: "info",
                                    showCancelButton: true,
                                    closeOnConfirm: false,
                                    confirmButtonColor: "#1fa67a",
                                    confirmButtonText: "Yes, Save It!",
                                    showLoaderOnConfirm: true,
                                }, function () {

                                    $.post(url, {
                                        year_: year_,
                                        amount: ConvertCommasToEmpty(amount),
                                        realignment_id: realignment_id,
                                        amount_dum: amount_dum,
                                        transdate: transdate
                                    }, function (e) {
                                        if (e == "1") {
                                            swal({
                                                title: "Success!",
                                                text: "Non-Office Account has been Removed.",
                                                timer: 2000,
                                                type: "success",
                                                showConfirmButton: false
                                            })



                                            document.getElementById("amount_torealign_FROM").disabled = true;
                                            refmemem();
                                            fn_refreshtext_null();
                                            reffff();
                                            $('#Realigned_From_Grid').data('kendoGrid').dataSource.read();

                                            document.getElementById("for_ID_FROM").value = 0;
                                            document.getElementById("amount_torealign_FROM_dum").value = 0;
                                            document.getElementById("amount_torealign_FROM").value = 0;
                                        } else {
                                            swal({
                                                title: "Error!",
                                                text: "System Error! Please try again.",
                                                timer: 2000,
                                                type: "error",
                                                showConfirmButton: false
                                            })
                                        }

                                    })
                                });


                            }


                        }

                    }else {



                        if (Number(realignment_id) == 0) {
                            swal({
                                title: "Oopps!",
                                text: "Please Select an Item.",
                                timer: 2000,
                                type: "error",
                                showConfirmButton: false
                            })

                        } else {

                            swal({
                                title: "Are you sure?",
                                text: "This item will be EDITED and SAVED!",
                                type: "info",
                                showCancelButton: true,
                                closeOnConfirm: false,
                                confirmButtonColor: "#1fa67a",
                                confirmButtonText: "Yes, Save It!",
                                showLoaderOnConfirm: true,
                            }, function () {

                                $.post(url, {
                                    year_: year_,
                                    amount: ConvertCommasToEmpty(amount),
                                    realignment_id: realignment_id,
                                    amount_dum: amount_dum,
                                    transdate: transdate
                                }, function (e) {
                                    if (e == "1") {
                                        swal({
                                            title: "Success!",
                                            text: "Non-Office Account has been Removed.",
                                            timer: 2000,
                                            type: "success",
                                            showConfirmButton: false
                                        })



                                        document.getElementById("amount_torealign_FROM").disabled = true;
                                        refmemem();
                                        fn_refreshtext_null();
                                        reffff();
                                        $('#Realigned_From_Grid').data('kendoGrid').dataSource.read();

                                        document.getElementById("for_ID_FROM").value = 0;
                                        document.getElementById("amount_torealign_FROM_dum").value = 0;
                                        document.getElementById("amount_torealign_FROM").value = 0;
                                    } else {
                                        swal({
                                            title: "Error!",
                                            text: "System Error! Please try again.",
                                            timer: 2000,
                                            type: "error",
                                            showConfirmButton: false
                                        })
                                    }

                                })
                            });


                        }
                        //else if available amount == 0
                    }
                }


            }
        }

        //dito
    }


    // end _____________________________________________________________________








    setTimeout(function () {

        var lru = "@Url.Action("thatass","Release")";

        var year_ = $("#ddlYear").val();
        $.post(lru, { year_: year_ }, function (e) {
            document.getElementById("total_toberealign_FROM").value = commaSeparateNumberRealignment(e);

        })
    }, 500);


    setTimeout(function () {
        document.getElementById("available_amount_FROM").value = '0.00';
        var classtype = $("#classtype").val();


        var url = "@Url.Action("datass", "Release")";


        var office_id = $('#office_realigned_to_null').val()
            

        var program_id = $('#Program_realigned_to_null').val()
        var ooe_id = $('#ooe_id_realigned_to_null').val()
        var account_id = $('#account_list_realigned_to_null').val()
        var year_ = $("#ddlYear").val();

        $.post(url, { office_id: office_id, program_id: program_id, ooe_id: ooe_id, account_id: account_id, year_: year_ }, function (d) {
            document.getElementById("for_ID_FROM").value = 0;
            document.getElementById("amount_torealign_FROM_dum").value = 0;
            document.getElementById("amount_torealign_FROM").value = '0.00';
            document.getElementById("available_amount_FROM").value = '0.00';

        })

    }, 500);


    function refmemem() {
        setTimeout(function () {

            var lru = "@Url.Action("thatass","Release")";

            var year_ = $("#ddlYear").val();
            $.post(lru, { year_: year_ }, function (e) {
                document.getElementById("total_toberealign_FROM").value = commaSeparateNumberRealignment(e);

            })
        }, 500);


     

    }




    function edit_realignment_FROM(realignment_id, DateTimeEntered) {
        
        var url = "@Url.Action("Edit_RealignV2", "Release")";
        document.getElementById("from__").hidden = false;
        document.getElementById("to__").hidden = true;
        $.get(url, { realignment_id: realignment_id }, function (d) {
            document.getElementById("amount_torealign_FROM").disabled = false;
            document.getElementById("amount_torealign_FROM").value = d.Amount_EDIT;
            document.getElementById("amount_torealign_FROM_dum").value = d.Amount_EDIT;
            document.getElementById("for_ID_FROM").value = d.realignment_id_EDIT;
            document.getElementById("Program_ID_real").value = d.FromProgramCode;
            document.getElementById("Account_ID_real").value = d.FromAccountCode;
            EditAvailable();
            $("#datetimentered").data("kendoDateTimePicker").value(DateTimeEntered);
        })

    }

    function edit_realignment_To_n(realignment_id, DateTimeEntered, ToAmount) {
        
        var url = "@Url.Action("Edit_RealignT0_n", "Release")";
        document.getElementById("from__").hidden = true;
        document.getElementById("to__").hidden = false;
        $.get(url, { realignment_id: realignment_id }, function (d) {
            document.getElementById("amount_torealign_FROM").disabled = false;
            document.getElementById("amount_torealign_FROM").value = d.Amount_EDIT;
            document.getElementById("amount_torealign_FROM_dum").value = d.Amount_EDIT;
            document.getElementById("for_ID_FROM").value = d.realignment_id_EDIT;
            document.getElementById("Program_ID_real").value = d.ToProgramCode;
            document.getElementById("Account_ID_real").value = d.ToAccountCode;
            $("#amount_orig").val(ToAmount);
            EditAvailable();
            refresh_expNrel();
            $("#datetimentered").data("kendoDateTimePicker").value(DateTimeEntered);
        })

    }




    function refresh_expNrel() {

        var office_id = $('#office_realigned_to_null').val()
        var program_id = $('#Program_ID_real').val()
        var account_id = $('#Account_ID_real').val()
        var year_ = $("#ddlYear").val();

        var url = "@Url.Action("get_Expense", "Release")";

        if (program_id == null || program_id == 0 || program_id == "") {

            program_id = 0;
            account_id = 0;

            $.post(url, { program_id: program_id, account_id: account_id, year_: year_ }, function (e) {
                document.getElementById("expense_GG").value = e;

            })
        }
        else {

            $.post(url, { program_id: program_id, account_id: account_id, year_: year_ }, function (e) {
                document.getElementById("expense_GG").value = e;

            })

        }


        var lure = "@Url.Action("get_TotalRelease", "Release")";


        $.post(lure, { office_id: office_id, program_id: program_id, account_id: account_id, year_: year_ }, function (d) {
            document.getElementById("totalRelease_GG").value = d;

        })
    }

    function EditAvailable() {


        var url = "@Url.Action("datass", "Release")";


        var office_id = $('#office_realigned_to_null').val()
        var program_id = $('#Program_ID_real').val()
        var account_id = $('#Account_ID_real').val()
        var year_ = $("#ddlYear").val();

        $.post(url, { office_id: office_id, program_id: program_id, ooe_id: 0, account_id: account_id, year_: year_ }, function (d) {

            document.getElementById("available_amount_FROM").value = commaSeparateNumberRealignment(d);

        })
    }
    function delete_realignment_FROM(realignment_id, DateTimeEntered) {

        edit_realignment_FROM(realignment_id, DateTimeEntered);
        document.getElementById("amount_torealign_FROM").disabled = true;

        setTimeout(function () {
            var dummy = $('#amount_torealign_FROM_dum').val()

            var url = "@Url.Action("delete_Realaign", "Release")";
            var year_ = $("#ddlYear").val();
            var amount_tobe = $('#total_toberealign_FROM').val()
            if (Number(dummy) > Number(amount_tobe)) {
                swal({
                    title: "Oopps!",
                    text: "You Can't Delete this Item",
                    timer: 2000,
                    type: "error",
                    showConfirmButton: false
                })
            }else{

                swal({
                    title: "Are you sure?",
                    text: "This item will be removed!",
                    type: "info",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, Remove It!",
                    showLoaderOnConfirm: true,
                }, function () {

                    $.get(url, { realignment_id: realignment_id, year_: year_ }, function (e) {

                        if (e == "1") {
                            swal({
                                title: "Success!",
                                text: "Non-Office Account has been Removed.",
                                timer: 2000,
                                type: "success",
                                showConfirmButton: false
                            })



                            document.getElementById("amount_torealign_FROM").disabled = true;
                            refmemem();
                            $('#Realigned_From_Grid').data('kendoGrid').dataSource.read();
                            fn_refreshtext_null();
                            reffff();
                            document.getElementById("for_ID_FROM").value = 0;
                            document.getElementById("amount_torealign_FROM_dum").value = 0;
                            document.getElementById("amount_torealign_FROM").value = 0;
                        } else {
                            swal({
                                title: "Error!",
                                text: "System Error! Please try again.",
                                timer: 2000,
                                type: "error",
                                showConfirmButton: false
                            })
                        }

                    })
                });
            }
        }, 500);

    }

    function readFrom() {
        var classtype = $("#classtype").val();

        var office_id = $('#office_realigned_to_null').val()
        var year_ = $("#ddlYear").val();

        return {
            office_id: office_id,
            year_: year_
        }


    }

    function refresh_grid(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
        $("#Realigned_From_Grid").data("kendoGrid").dataSource.read();
    }
    setTimeout(function () {

        $("#Realigned_From_Grid").data("kendoGrid").dataSource.read();

    }, 1000);

    function From_Grid_Refresh() {

        setTimeout(function () {

            $("#Realigned_From_Grid").data("kendoGrid").dataSource.read();

        }, 500);



    }

    @*toooooooooooooooooooooooooooooooooooo*@


    function delete_realignment_TO(realignment_id, DateTimeEntered) {
        edit_realignment_To_n(realignment_id, DateTimeEntered);
        document.getElementById("amount_torealign_FROM").disabled = true;
        setTimeout(function () {
            var dummy = $('#amount_torealign_FROM_dum').val()

            var url = "@Url.Action("delete_Realaign_TO", "Release")";
            var year_ = $("#ddlYear").val();
            var avail_mount = $('#available_amount_FROM').val()

            var Expense = $("#expense_GG").val();
            var Total_Release = $("#totalRelease_GG").val();

            var TO_E = Number(Total_Release) - Number(Expense);

          

            if (Number(Total_Release) < Number(Expense)) {

                swal({
                    title: "Sorry!",
                    text: "You can't Delete this Transaction that has already been used in obligation.",
                    timer: 2000,
                    type: "error",
                    showConfirmButton: false
                })

            } else {
                
                if (Number(dummy) == '') {
                    swal({
                        title: "Sorry!",
                        text: "Network Error. Please try again.",
                        timer: 3000,
                        type: "error",
                        showConfirmButton: false
                    })

                } else {



                    if (Number(dummy) > Number(ConvertCommasToEmpty(avail_mount))) {

                        swal({
                            title: "Oopps!",
                            text: "You Can't Delete this Item",
                            timer: 2000,
                            type: "error",
                            showConfirmButton: false
                        })
                    } else {

                        swal({
                            title: "Are you sure?",
                            text: "This item will be removed!",
                            type: "info",
                            showCancelButton: true,
                            closeOnConfirm: false,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Yes, Remove It!",
                            showLoaderOnConfirm: true,
                        }, function () {

                            $.get(url, { realignment_id: realignment_id, year_: year_ }, function (e) {
                                if (e == "1") {
                                    swal({
                                        title: "Success!",
                                        text: "Amount has been deleted.",
                                        timer: 2000,
                                        type: "success",
                                        showConfirmButton: false
                                    })
                                    refreshhavailawda();
                                    document.getElementById("for_ID_TO").value = 0;
                                    document.getElementById("amount_torealign_TO_dum").value = 0;
                                    document.getElementById("amount_torealign_TO").value = 0;
                                    fn_refreshtext_null();
                                    reffff();
                                    refreshhavailawda();
                                    acc_availble_mount();
                                    refresh_expNrel();
                                    document.getElementById("amount_torealign_FROM").disabled = true;
                                    $('#Realigned_To_Grid').data('kendoGrid').dataSource.read();
                                } else {
                                    swal({
                                        title: "Error!",
                                        text: "System Error! Please try again.",
                                        timer: 2000,
                                        type: "error",
                                        showConfirmButton: false
                                    })
                                }


                            })
                        });
                    }
                }
            }
            //  }


        }, 500);
    }

    function edit_realignment_TOV2(realignment_id) {
        var url = "@Url.Action("Edit_RealignV2", "Release")";

        $.get(url, { realignment_id: realignment_id }, function (d) {
            document.getElementById("amount_torealign_FROM").disabled = false;
            document.getElementById("amount_torealign_FROM_dum").value = d.Amount_EDIT;
            //document.getElementById("amount_torealign_FROM").value = d.Amount_EDIT;
            document.getElementById("for_ID_TO").value = d.realignment_id_EDIT;
        })

    }





    function fn_save_edit_realign_TO() {

        var url = "@Url.Action("Save_Realign_Edit_TO", "Release")";


        var year_ = $("#ddlYear").val();
        var amount = $('#amount_torealign_FROM').val()
        var realignment_id = $('#for_ID_FROM').val()
        var amount_dum = $('#amount_torealign_FROM_dum').val()
        var tobealign = $('#available_amount_FROM').val()
        var availables = $('#total_toberealign_FROM').val
        var transdate = $("#datetimentered").val()
        var copydate=$("#copydate").val()
        var amount_orig =$("#amount_orig").val()

        var Expense = $("#expense_GG").val();
        var Total_Release = $("#totalRelease_GG").val();

        var TO_E = Number(Total_Release) - Number(Expense);


        if (Number(Total_Release) < Number(Expense) && Number(amount) != Number(amount_orig)) {
           
            swal({
                title: "Sorry!",
                text: "You can't edit this particular transaction!It was already used in obligation.",
                timer: 2000,
                type: "error",
                showConfirmButton: false
            })

        } else {

            if (Number(ConvertCommasToEmpty(amount)) < Number(amount_dum)) {

                var amount_Cya = Number(amount_dum) - Number(ConvertCommasToEmpty(amount));
                if (Number(amount_Cya) > Number(ConvertCommasToEmpty(availables))) {
                    swal({
                        title: "Oopps!",
                        text: "Exceed amount!",
                        timer: 3000,
                        type: "error",
                        showConfirmButton: false
                    })



                } else {
                    if (Number(ConvertCommasToEmpty(availables)) == 0) {

                        if (Number(ConvertCommasToEmpty(amount)) < Number(amount_dum)) {

                            swal({
                                title: "Oopps!",
                                text: "Exceed amount!",
                                timer: 3000,
                                type: "error",
                                showConfirmButton: false
                            })


                        } else {
                            if (Number(ConvertCommasToEmpty(tobealign)) == 0) {
                                if (Number(ConvertCommasToEmpty(amount)) > Number(amount_dum)) {

                                    swal({
                                        title: "Oopps!",
                                        text: "Exceed amount!",
                                        timer: 3000,
                                        type: "error",
                                        showConfirmButton: false
                                    })


                                } else {
                                    if (Number(realignment_id) == 0) {
                                        swal({
                                            title: "Oopps!",
                                            text: "Please Select an Item.",
                                            timer: 2000,
                                            type: "error",
                                            showConfirmButton: false
                                        })

                                    } else {

                                        swal({
                                            title: "Are you sure?",
                                            text: "This item will be EDITED and SAVED!",
                                            type: "info",
                                            showCancelButton: true,
                                            closeOnConfirm: false,
                                            confirmButtonColor: "#1fa67a",
                                            confirmButtonText: "Yes, Save It!",
                                            showLoaderOnConfirm: true,
                                        }, function () {

                                            $.post(url, { year_: year_, amount: ConvertCommasToEmpty(amount), realignment_id: realignment_id, amount_dum: amount_dum, transdate: transdate, copydate: copydate }, function (e) {
                                                if (e == "1") {
                                                    swal({
                                                        title: "Success!",
                                                        text: "Transactions successfully saved.",
                                                        timer: 2000,
                                                        type: "success",
                                                        showConfirmButton: false
                                                    })
                                                    document.getElementById("for_ID_TO").value = 0;
                                                    document.getElementById("amount_torealign_FROM_dum").value = 0;
                                                    document.getElementById("amount_torealign_FROM").value = 0;
                                                   // refreshhavailawda();
                                                    // acc_availble_mount();
                                                    EditAvailable();
                                                    fn_refreshtext_null();
                                                    reffff();
                                                    refresh_expNrel();
                                                    document.getElementById("amount_torealign_FROM").disabled = true;
                                                    $('#Realigned_To_Grid').data('kendoGrid').dataSource.read();
                                                } else {
                                                    swal({
                                                        title: "Error!",
                                                        text: "System Error! Please try again.",
                                                        timer: 2000,
                                                        type: "error",
                                                        showConfirmButton: false
                                                    })
                                                }

                                            })
                                        });

                                    }

                                }

                            } else {

                                if (Number(realignment_id) == 0) {
                                    swal({
                                        title: "Oopps!",
                                        text: "Please Select an Item.",
                                        timer: 2000,
                                        type: "error",
                                        showConfirmButton: false
                                    })

                                } else {

                                    swal({
                                        title: "Are you sure?",
                                        text: "This item will be EDITED and SAVED!",
                                        type: "info",
                                        showCancelButton: true,
                                        closeOnConfirm: false,
                                        confirmButtonColor: "#1fa67a",
                                        confirmButtonText: "Yes, Save It!",
                                        showLoaderOnConfirm: true,
                                    }, function () {

                                        $.post(url, { year_: year_, amount: ConvertCommasToEmpty(amount), realignment_id: realignment_id, amount_dum: amount_dum, transdate: transdate, copydate: copydate }, function (e) {
                                            if (e == "1") {
                                                swal({
                                                    title: "Success!",
                                                    text: "Transactions successfully saved.",
                                                    timer: 2000,
                                                    type: "success",
                                                    showConfirmButton: false
                                                })
                                                document.getElementById("for_ID_TO").value = 0;
                                                document.getElementById("amount_torealign_FROM_dum").value = 0;
                                                document.getElementById("amount_torealign_FROM").value = 0;
                                               // refreshhavailawda();
                                                // acc_availble_mount();
                                                EditAvailable();
                                                fn_refreshtext_null();
                                                reffff();
                                                refresh_expNrel();
                                                document.getElementById("amount_torealign_FROM").disabled = true;
                                                $('#Realigned_To_Grid').data('kendoGrid').dataSource.read();
                                            } else {
                                                swal({
                                                    title: "Error!",
                                                    text: "System Error! Please try again.",
                                                    timer: 2000,
                                                    type: "error",
                                                    showConfirmButton: false
                                                })
                                            }

                                        })
                                    });

                                }

                            }
                        }


                    }
                    else {


                        if (Number(ConvertCommasToEmpty(tobealign)) == 0) {
                            if (Number(ConvertCommasToEmpty(amount)) > Number(amount_dum)) {

                                swal({
                                    title: "Oopps!",
                                    text: "Exceed amount!",
                                    timer: 3000,
                                    type: "error",
                                    showConfirmButton: false
                                })


                            } else {
                                if (Number(realignment_id) == 0) {
                                    swal({
                                        title: "Oopps!",
                                        text: "Please Select an Item.",
                                        timer: 2000,
                                        type: "error",
                                        showConfirmButton: false
                                    })

                                } else {

                                    swal({
                                        title: "Are you sure?",
                                        text: "This item will be EDITED and SAVED!",
                                        type: "info",
                                        showCancelButton: true,
                                        closeOnConfirm: false,
                                        confirmButtonColor: "#1fa67a",
                                        confirmButtonText: "Yes, Save It!",
                                        showLoaderOnConfirm: true,
                                    }, function () {

                                        $.post(url, { year_: year_, amount: ConvertCommasToEmpty(amount), realignment_id: realignment_id, amount_dum: amount_dum, transdate: transdate, copydate: copydate }, function (e) {
                                            if (e == "1") {
                                                swal({
                                                    title: "Success!",
                                                    text: "Amount successfully saved.",
                                                    timer: 2000,
                                                    type: "success",
                                                    showConfirmButton: false
                                                })
                                                document.getElementById("for_ID_TO").value = 0;
                                                document.getElementById("amount_torealign_FROM_dum").value = 0;
                                                document.getElementById("amount_torealign_FROM").value = 0;
                                               // refreshhavailawda();
                                                // acc_availble_mount();
                                                EditAvailable();
                                                fn_refreshtext_null();
                                                reffff();
                                                refresh_expNrel();
                                                document.getElementById("amount_torealign_FROM").disabled = true;
                                                $('#Realigned_To_Grid').data('kendoGrid').dataSource.read();
                                            } else {
                                                swal({
                                                    title: "Error!",
                                                    text: "System Error! Please try again.",
                                                    timer: 2000,
                                                    type: "error",
                                                    showConfirmButton: false
                                                })
                                            }

                                        })
                                    });

                                }

                            }

                        } else {

                            if (Number(realignment_id) == 0) {
                                swal({
                                    title: "Oopps!",
                                    text: "Please Select an Item.",
                                    timer: 2000,
                                    type: "error",
                                    showConfirmButton: false
                                })

                            } else {

                                swal({
                                    title: "Are you sure?",
                                    text: "This item will be EDITED and SAVED!",
                                    type: "info",
                                    showCancelButton: true,
                                    closeOnConfirm: false,
                                    confirmButtonColor: "#1fa67a",
                                    confirmButtonText: "Yes, Save It!",
                                    showLoaderOnConfirm: true,
                                }, function () {

                                    $.post(url, { year_: year_, amount: ConvertCommasToEmpty(amount), realignment_id: realignment_id, amount_dum: amount_dum, transdate: transdate, copydate: copydate }, function (e) {
                                        if (e == "1") {
                                            swal({
                                                title: "Success!",
                                                text: "Transactions successfully saved.",
                                                timer: 2000,
                                                type: "success",
                                                showConfirmButton: false
                                            })
                                            document.getElementById("for_ID_TO").value = 0;
                                            document.getElementById("amount_torealign_FROM_dum").value = 0;
                                            document.getElementById("amount_torealign_FROM").value = 0;
                                           // refreshhavailawda();
                                            //n  acc_availble_mount();
                                            EditAvailable();
                                            fn_refreshtext_null();
                                            reffff();
                                            refresh_expNrel();
                                            document.getElementById("amount_torealign_FROM").disabled = true;
                                            $('#Realigned_To_Grid').data('kendoGrid').dataSource.read();
                                        } else {
                                            swal({
                                                title: "Error!",
                                                text: "System Error! Please try again.",
                                                timer: 2000,
                                                type: "error",
                                                showConfirmButton: false
                                            })
                                        }

                                    })
                                });

                            }

                        }


                    }



                }
            } else {
                var amount_Cya = Number(ConvertCommasToEmpty(amount)) - Number(amount_dum);
                if (Number(amount_Cya) > Number(ConvertCommasToEmpty(tobealign))) {
                    swal({
                        title: "Oopps!",
                        text: "Exceed amount!",
                        timer: 3000,
                        type: "error",
                        showConfirmButton: false
                    })



                } else {
                    if (Number(ConvertCommasToEmpty(availables)) == 0) {

                        if (Number(ConvertCommasToEmpty(amount)) < Number(amount_dum)) {

                            swal({
                                title: "Oopps!",
                                text: "Exceed amount!",
                                timer: 3000,
                                type: "error",
                                showConfirmButton: false
                            })


                        } else {
                            if (Number(ConvertCommasToEmpty(tobealign)) == 0) {
                                if (Number(ConvertCommasToEmpty(amount)) > Number(amount_dum)) {

                                    swal({
                                        title: "Oopps!",
                                        text: "Exceed amount!",
                                        timer: 3000,
                                        type: "error",
                                        showConfirmButton: false
                                    })


                                } else {
                                    if (Number(realignment_id) == 0) {
                                        swal({
                                            title: "Oopps!",
                                            text: "Please Select an Item.",
                                            timer: 2000,
                                            type: "error",
                                            showConfirmButton: false
                                        })

                                    } else {

                                        swal({
                                            title: "Are you sure?",
                                            text: "This item will be EDITED and SAVED!",
                                            type: "info",
                                            showCancelButton: true,
                                            closeOnConfirm: false,
                                            confirmButtonColor: "#1fa67a",
                                            confirmButtonText: "Yes, Save It!",
                                            showLoaderOnConfirm: true,
                                        }, function () {

                                            $.post(url, { year_: year_, amount: ConvertCommasToEmpty(amount), realignment_id: realignment_id, amount_dum: amount_dum, transdate: transdate, copydate: copydate }, function (e) {
                                                if (e == "1") {
                                                    swal({
                                                        title: "Success!",
                                                        text: "Transactions successfully saved.",
                                                        timer: 2000,
                                                        type: "success",
                                                        showConfirmButton: false
                                                    })
                                                    document.getElementById("for_ID_TO").value = 0;
                                                    document.getElementById("amount_torealign_FROM_dum").value = 0;
                                                    document.getElementById("amount_torealign_FROM").value = 0;
                                                  //  refreshhavailawda();
                                                    //  acc_availble_mount();
                                                    EditAvailable();
                                                    fn_refreshtext_null();
                                                    reffff();
                                                    refresh_expNrel();
                                                    document.getElementById("amount_torealign_FROM").disabled = true;
                                                    $('#Realigned_To_Grid').data('kendoGrid').dataSource.read();
                                                } else {
                                                    swal({
                                                        title: "Error!",
                                                        text: "System Error! Please try again.",
                                                        timer: 2000,
                                                        type: "error",
                                                        showConfirmButton: false
                                                    })
                                                }

                                            })
                                        });

                                    }

                                }

                            } else {

                                if (Number(realignment_id) == 0) {
                                    swal({
                                        title: "Oopps!",
                                        text: "Please Select an Item.",
                                        timer: 2000,
                                        type: "error",
                                        showConfirmButton: false
                                    })

                                } else {

                                    swal({
                                        title: "Are you sure?",
                                        text: "This item will be EDITED and SAVED!",
                                        type: "info",
                                        showCancelButton: true,
                                        closeOnConfirm: false,
                                        confirmButtonColor: "#1fa67a",
                                        confirmButtonText: "Yes, Save It!",
                                        showLoaderOnConfirm: true,
                                    }, function () {

                                        $.post(url, { year_: year_, amount: ConvertCommasToEmpty(amount), realignment_id: realignment_id, amount_dum: amount_dum, transdate: transdate, copydate: copydate }, function (e) {
                                            if (e == "1") {
                                                swal({
                                                    title: "Success!",
                                                    text: "Amount successfully saved.",
                                                    timer: 2000,
                                                    type: "success",
                                                    showConfirmButton: false
                                                })

                                                document.getElementById("for_ID_TO").value = 0;
                                                document.getElementById("amount_torealign_FROM_dum").value = 0;
                                                document.getElementById("amount_torealign_FROM").value = 0;
                                               // refreshhavailawda();
                                                // acc_availble_mount();
                                                EditAvailable();
                                                fn_refreshtext_null();
                                                reffff();
                                                refresh_expNrel();
                                                document.getElementById("amount_torealign_FROM").disabled = true;
                                                $('#Realigned_To_Grid').data('kendoGrid').dataSource.read();
                                            } else {
                                                swal({
                                                    title: "Error!",
                                                    text: "System Error! Please try again.",
                                                    timer: 2000,
                                                    type: "error",
                                                    showConfirmButton: false
                                                })
                                            }

                                        })
                                    });

                                }

                            }
                        }


                    }
                    else {


                        if (Number(ConvertCommasToEmpty(tobealign)) == 0) {
                            if (Number(ConvertCommasToEmpty(amount)) > Number(amount_dum)) {

                                swal({
                                    title: "Oopps!",
                                    text: "Exceed amount!",
                                    timer: 3000,
                                    type: "error",
                                    showConfirmButton: false
                                })


                            } else {
                                if (Number(realignment_id) == 0) {
                                    swal({
                                        title: "Oopps!",
                                        text: "Please Select an Item.",
                                        timer: 2000,
                                        type: "error",
                                        showConfirmButton: false
                                    })

                                } else {

                                    swal({
                                        title: "Are you sure?",
                                        text: "This item will be EDITED and SAVED!",
                                        type: "info",
                                        showCancelButton: true,
                                        closeOnConfirm: false,
                                        confirmButtonColor: "#1fa67a",
                                        confirmButtonText: "Yes, Save It!",
                                        showLoaderOnConfirm: true,
                                    }, function () {

                                        $.post(url, { year_: year_, amount: ConvertCommasToEmpty(amount), realignment_id: realignment_id, amount_dum: amount_dum, transdate: transdate, copydate: copydate }, function (e) {
                                            if (e == "1") {
                                                swal({
                                                    title: "Success!",
                                                    text: "Transactions successfully saved.",
                                                    timer: 2000,
                                                    type: "success",
                                                    showConfirmButton: false
                                                })

                                                document.getElementById("for_ID_TO").value = 0;
                                                document.getElementById("amount_torealign_FROM_dum").value = 0;
                                                document.getElementById("amount_torealign_FROM").value = 0;
                                               // refreshhavailawda();
                                                //  acc_availble_mount();
                                                EditAvailable();
                                                fn_refreshtext_null();
                                                reffff();
                                                refresh_expNrel();
                                                document.getElementById("amount_torealign_FROM").disabled = true;
                                                $('#Realigned_To_Grid').data('kendoGrid').dataSource.read();
                                            } else {
                                                swal({
                                                    title: "Error!",
                                                    text: "System Error! Please try again.",
                                                    timer: 2000,
                                                    type: "error",
                                                    showConfirmButton: false
                                                })
                                            }

                                        })
                                    });

                                }

                            }

                        } else {

                            if (Number(realignment_id) == 0) {
                                swal({
                                    title: "Oopps!",
                                    text: "Please Select an Item.",
                                    timer: 2000,
                                    type: "error",
                                    showConfirmButton: false
                                })

                            } else {

                                swal({
                                    title: "Are you sure?",
                                    text: "This item will be EDITED and SAVED!",
                                    type: "info",
                                    showCancelButton: true,
                                    closeOnConfirm: false,
                                    confirmButtonColor: "#1fa67a",
                                    confirmButtonText: "Yes, Save It!",
                                    showLoaderOnConfirm: true,
                                }, function () {

                                    $.post(url, { year_: year_, amount: ConvertCommasToEmpty(amount), realignment_id: realignment_id, amount_dum: amount_dum, transdate: transdate, copydate: copydate }, function (e) {
                                        if (e == "1") {
                                            swal({
                                                title: "Success!",
                                                text: "Transactions successfully saved.",
                                                timer: 2000,
                                                type: "success",
                                                showConfirmButton: false
                                            })

                                            document.getElementById("for_ID_TO").value = 0;
                                            document.getElementById("amount_torealign_FROM_dum").value = 0;
                                            document.getElementById("amount_torealign_FROM").value = 0;
                                          //  refreshhavailawda();
                                            //  acc_availble_mount();
                                            EditAvailable();
                                            fn_refreshtext_null();
                                            reffff();
                                            refresh_expNrel();
                                            document.getElementById("amount_torealign_FROM").disabled = true;
                                            $('#Realigned_To_Grid').data('kendoGrid').dataSource.read();
                                        } else {
                                            swal({
                                                title: "Error!",
                                                text: "System Error! Please try again.",
                                                timer: 2000,
                                                type: "error",
                                                showConfirmButton: false
                                            })
                                        }

                                    })
                                });

                            }

                        }


                    }



                }
            }

        }

    }

    function copdate() {
        if (document.getElementById("copydate").checked) {
            document.getElementById("copydate").value="1"
        }
        else {
            document.getElementById("copydate").value="0"
        }
    }
</script>

<div style="border: outset;clear:both;border-width:1px;border-color:#1fa67a; width: 949px; padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:7px;margin-top: 0px;">
    <div style=" width: 0;height: 0; border-right: 5px solid #333333; border-bottom: 37px solid #333333; border-left: 65px solid #333333;margin-top: -1px; ">
        <div style="float: left; width: 883px; margin-top:1px;margin-bottom:-97px;margin-left:-33px; height: 0; border-left: 35px solid #333333; border-bottom: 36px solid #1fa67a; ">
            <div style="float: left; height:28px; margin-left:-59px; margin-top: 5px;">
                <i class="fa fa-tasks fa-2x fg-white"></i>

            </div>
         


        </div>
    </div>


    @(Html.Kendo().Grid<iFMIS_BMS.BusinessLayer.Models.Monthly_Realignment_Model>()
            .Name("Realigned_From_Grid")
    .Scrollable()
    .Columns(col =>
    {

        col.Bound(m => m.DateTimeEntered).HtmlAttributes(new { style = "text-align:left;height:30px" })
                        .HeaderTemplate(@<text><div style="font-weight:600;text-align:center; vertical-align: middle; overflow: visible; white-space: normal;">Date Time Entered</div></text>)
                        .Width(95)
                        .HeaderHtmlAttributes(new { style = "text-align:center; vertical-align: middle; overflow: visible; white-space: normal" });
                        
        col.Bound(m => m.FromAccountName).HtmlAttributes(new { style = "text-align:left;height:30px" })
                        .HeaderTemplate(@<text><div style="font-weight:600;text-align:center; vertical-align: middle; overflow: visible; white-space: normal;">From Account</div></text>)
                        .Width(95)
                        .HeaderHtmlAttributes(new { style = "text-align:center; vertical-align: middle; overflow: visible; white-space: normal" });
        col.Bound(m => m.Amount)
                        .HtmlAttributes(new { style = "text-align:left;height:30px" })
                        .HeaderTemplate(@<text><div style="font-weight:600;text-align:center; vertical-align: middle; overflow: visible; white-space: normal;">From Amount</div></text>)
                        .Width(70)
                        .HeaderHtmlAttributes(new { style = "text-align:center; vertical-align: middle; overflow: visible; white-space: normal" })
                        .ClientTemplate("<div>#=kendo.toString(Amount,'c2')# </div>")
                        .ClientFooterTemplate("<div style='text-align:center;color:darkgreen'><label> </label><label> #=kendo.toString(sum, 'c2')#</label></div>");
        col.Bound(m => m.ToAccountName).HtmlAttributes(new { style = "text-align:left;height:30px" })
                      .HeaderTemplate(@<text><div style="font-weight:600;text-align:center; vertical-align: middle; overflow: visible; white-space: normal;">To Account</div></text>)
                        .Width(95)
                        .HeaderHtmlAttributes(new { style = "text-align:center; vertical-align: middle; overflow: visible; white-space: normal" });

        col.Bound(m => m.ToAmount)
                        .HtmlAttributes(new { style = "text-align:left;height:30px" })
                        .HeaderTemplate(@<text><div style="font-weight:600;text-align:center; vertical-align: middle; overflow: visible; white-space: normal;">To Amount</div></text>)
                        .Width(70)
                        .HeaderHtmlAttributes(new { style = "text-align:center; vertical-align: middle; overflow: visible; white-space: normal" })
                        .ClientTemplate("<div>#=kendo.toString(ToAmount,'c2')# </div>")
                        .ClientFooterTemplate("<div style='text-align:center;color:darkgreen'><label> </label><label> #=kendo.toString(sum, 'c2')#</label></div>");

        col.Bound(m => m.user_name).HtmlAttributes(new { style = "text-align:left;height:30px" })
                        .HeaderTemplate(@<text><div style="font-weight:600;text-align:center; vertical-align: middle; overflow: visible; white-space: normal;">Realigned By</div></text>)
                        .Width(100)
                        .HeaderHtmlAttributes(new { style = "text-align:center; vertical-align: middle; overflow: visible; white-space: normal" })
                        .ClientFooterTemplate("<div style='text-align:center;color:darkgreen'><label> </label><label> Total Amount </label></div>");
                        
    

        col.Template(t => { }).ClientTemplate(
               "#if( type_ == 1) {#" +
             "<div class='k-button k-button-icontext' style='border-radius:50px;color:\\#ffffff;background-color:\\#1FA67A;'    onclick='edit_realignment_FROM(#=realignment_id#,\"#=DateTimeEntered#\")'   ><span class='fa fa-pencil-square-o' style='font-size: 10pt;margin: 1px;margin-top: -1px;margin-left: 5px;margin-right: 3px;'> </span>edit</div> " +
              "<div class='k-button k-button-icontext' style='border-radius:50px;color:\\#ffffff;background-color:\\#DE5555;'   onclick='delete_realignment_FROM(#=realignment_id#,\"#=DateTimeEntered#\")'   ><span class='fa fa-trash-o' style='font-size: 10pt;margin: 1px;margin-top: -1px;margin-left: 5px;margin-right: 3px;'> </span>del</div> " +
              
              "#} else { #" +
                "<div class='k-button k-button-icontext' style='border-radius:50px;color:\\#ffffff;background-color:\\#00ad74;'    onclick='edit_realignment_To_n(#=realignment_id#,\"#=DateTimeEntered#\",#=ToAmount#)'   ><span class='fa fa-pencil-square-o' style='font-size: 10pt;margin: 1px;margin-top: -1px;margin-left: 5px;margin-right: 3px;'> </span>edit</div> " +
                "<div class='k-button k-button-icontext' style='border-radius:50px;color:\\#ffffff;background-color:\\#ff0000;'   onclick='delete_realignment_TO(#=realignment_id#,\"#=DateTimeEntered#\")'   ><span class='fa fa-trash-o' style='font-size: 10pt;margin: 1px;margin-top: -1px;margin-left: 5px;margin-right: 3px;'> </span>del</div> " +
              "# } #"

                                     
        ).HtmlAttributes(new { style = "vertical-align: top;" }).Width(50);
    })

        .Sortable()
        .Scrollable()
        .Selectable()
        .HtmlAttributes(new { style = "height:290px;" })
        .DataSource(d => d
        .Ajax()
        .Aggregates(a =>
                {
                    a.Add(c => c.Amount).Sum();
                    a.Add(c => c.ToAmount).Sum();
                })
        .PageSize(1000)
        .Model(m => m.Id(i => i.realignment_id))
        .Read(read => read.Action("Realign_From", "Release").Data("readFrom")))
)


    <div style="float: left;margin-right:0px;margin-top:60px;">

        <div style=" float:left;margin-left:-40px;margin-top:-36px;">
            <label style="margin-left: 50px;margin-right: 5px;margin-top: 0px;margin-bottom: 2px;">
                Available <br /> &nbsp; Amount
            </label>

        </div>

        <div style="float: left;margin-left:0px;margin-top:-30px;">
            : <input type="text" style="width:130px" name="available_amount_FROM" id="available_amount_FROM" onkeyup="commaSeparateNumberversion2('available_amount_FROM')" disabled>
        </div>


        <div style="float: left;margin-left:255px;margin-top:-38px;">
            <label style="margin-left: 0px;margin-right: 5px;margin-top: 0px;margin-bottom: 2px;">
                Amount to <br /> &nbsp; Realign
            </label>
        </div>
        <div></div>
        <div style="float: left;margin-left:0px;margin-top:-30px;">
            : <input type="text" style="width:130px" name="amount_torealign_FROM" id="amount_torealign_FROM" onkeyup="commaSeparateNumberversion2('available_amount_FROM')" onfocus="this.select();" disabled>
        </div>
        <div style="float: left;margin-left:0px;margin-top:-50px;">
            <input type="text" style="width:130px" name="amount_torealign_FROM_dum" id="amount_torealign_FROM_dum" disabled hidden>
        </div>





        <div style="float: left;margin-left:195px;margin-top:-42px;">
            <label style="margin-left: 50px;margin-right: 5px;margin-top: 0px;margin-bottom: 2px;">
                Total Amount <br />to be Realigned
            </label>
        </div>
        <div style="float: left;margin-left:700px;margin-top:-37px;">
            :  <input type="text" style="width:130px" name="total_toberealign_FROM" id="total_toberealign_FROM" onkeyup="commaSeparateNumberversion2('total_toberealign_FROM')" disabled>
        </div>

        <div style="float: left;margin-left:-124px;margin-top:10px;">
            <label style="margin-left: 50px;margin-right: 5px;margin-top: 0px;margin-bottom: 2px;">
                Date <br />and Time
            </label>
        </div>
        <div style="float: left;margin-left:-1px;margin-top:17px;">
            : 
            @(Html.Kendo().DateTimePicker()
              .Name("datetimentered")
              //.Start(CalendarView.Year)
              //.Depth(CalendarView.Year)
              .Format("MM/dd/yyyy hh:mm:ss tt")
              //.Events(e => e.Change("numeric_desu"))
              .HtmlAttributes(new { style = "width: 250px" })
            )
            <div style="display:inline-block">
                <input type="checkbox" id="copydate" value="0" onclick="copdate()" style="zoom:1.5" />
                <label style="display:inline-block;font-size:14px;color:red"> Copy Original Date/Time </label>
            </div>
           
        </div>


        <div style="float: left;margin-left:760px;margin-top:-37px;">
            <input type="text" style="width:100px" name="for_ID_FROM" id="for_ID_FROM" disabled hidden>
        </div>

        <div style="float: left;margin-left:630px;margin-top:-37px;">
            <input type="text" style="width:100px" name="Program_ID_real" id="Program_ID_real" disabled hidden>
        </div>
        <div style="float: left;margin-left:660px;margin-top:-37px;">
            <input type="text" style="width:100px" name="Account_ID_real" id="Account_ID_real" disabled hidden>
        </div>
        <div style="float: left;margin-left:0px;margin-top:-50px;">
            <input type="text" style="width:130px" name="expense_GG" id="expense_GG" disabled hidden>
        </div>
        <div style="float: left;margin-left:0px;margin-top:-50px;">
            <input type="text" style="width:130px" name="totalRelease_GG" id="totalRelease_GG" disabled hidden>
        </div>
        <div>
            <input type="number" id="amount_orig" value="0"/>
        </div>
    </div>
    <div style="float:left;margin-top:40px;margin-left:440px">
    </div>
        <div style="float:left;margin-top:-29px;margin-left:730px" id="from__" hidden>
            <div class="k-button k-button-icontext" style=" bottom: 15px; right: 220px;width: 80px; border-radius:50px;color:#ffffff;background-color:#1FA67A;" onclick="fn_save_edit_realign_From()"><span class='fa fa-plus-circle' style='font-size: 10pt;margin: 1px;margin-top: -1px;margin-left: 5px;margin-right: 3px;' ></span> Save</div>
        </div>
    <div style="float:left;margin-top:-29px;margin-left:730px" id="to__" hidden>
        <div class="k-button k-button-icontext" style=" bottom: 15px; right: 220px;width: 80px; border-radius:50px;color:#ffffff;background-color:#1FA67A;" onclick="fn_save_edit_realign_TO()" ><span class='fa fa-plus-circle' style='font-size: 10pt;margin: 1px;margin-top: -1px;margin-left: 5px;margin-right: 3px;'></span> Save</div>
    </div>
        <div style="float:left;margin-top:-29px;margin-left:817px">
            <div class="k-button k-button-icontext" style=" bottom: 15px; right: 220px;width: 80px; border-radius:50px;color:#ffffff;background-color:#DE5555;" onclick="fn_closeRealigned_From()"><span class='fa fa-times' style='font-size: 10pt;margin: 1px;margin-top: -1px;margin-left: 5px;margin-right: 3px;'></span> Close</div>
        </div>
    
    </div>


@(Html.Kendo().Window()
        .Name("realign_history")
        .Title("New Entry")
        .Width(1030)
        .Height(600)
        .Visible(false)
        .Modal(true)
        .Draggable(true)
        .AutoFocus(true)
       
        .Animation(a =>
        {
            a.Open(o => o.SlideIn(SlideDirection.Down));
            a.Close(c =>
            {
                c.SlideIn(SlideDirection.Down);
                c.Reverse(true);
            });

        })
                .Actions(a => { a.Close(); })
)
