<script src="~/Scripts/BMS/Release/otherfunction.js"></script>
<script>
    function RevertGridSubmitted() {
        var office_id = $('#office_revert_to_null').val()
        var program_id = $('#Program_revert_to_null').val() == "" ? 0 : $('#Program_revert_to_null').val()
        var account_id = $('#account_list_revert_to_null').val() == "" ? 0 : $('#account_list_revert_to_null').val()
        var subaccount = 0
        return {
            office_id: office_id,
            program_id: program_id,
            account_id: account_id,
            yearof: $("#ddlYear").val(),
            subaccount: subaccount,
            submit: 1,
            approved: 1,
            posted:0,
            revsumm:$("#revsummaryid").val()
        }
    }
    function searchreversionapprove() {
        var $filter = new Array();
        $filter = [];

        if ($('#SearchReversionApprove').val().length > 0) {
            $filter.push({ field: "accountfrom", operator: "contains", value: $('#SearchReversionApprove').val() }),
            $filter.push({ field: "ppafrom", operator: "contains", value: $('#SearchReversionApprove').val() }),
            $filter.push({ field: "accountto", operator: "contains", value: $('#SearchReversionApprove').val() }),
            $filter.push({ field: "ppato", operator: "contains", value: $('#SearchReversionApprove').val() });
        }

        $('#grd_reversionapprove').data('kendoGrid').dataSource.filter({
            logic: "or",
            filters: $filter
        });
    }

    $(function () {
        $("#SearchReversionApprove").keypress(function (e) {
            if (e.keyCode == 13) {
                searchreversionapprove();
            }
        });
    });
    function frmRealignclose() {
        $("#reversionapproved").data("kendoWindow").close();
        $("#grd_reversionoffice").data("kendoGrid").dataSource.read();
        $("#office_revert_to_null").data("kendoComboBox").dataSource.read();
    }
    //function CheckAll(e) {
    //    $("#grd_reversionapprove tbody input:checkbox").prop("checked", e.checked);
    //}

    function btnPostReversion() {
        if ($('#SpanOnApproveProgress').css("display") == 'none') {
            $('#SpanOnApproveProgress').css("display", "auto");
            $('#spanthumbsup').css("display", "none");
            var url = "@Url.Action("PostReversion", "Release")";
            var idsToSend = [];
            var AmountsToSend = [];
            var BudgetToSend = [];
            var grid = $("#grd_reversionapprove").data("kendoGrid")
            var ds = grid.dataSource.view();
            var officeid = $('#office_revert_to_null').val()
            var programid = $('#Program_revert_to_null').val() == "" ? 0 : $('#Program_revert_to_null').val()
            var accountid = $('#account_list_revert_to_null').val() == "" ? 0 : $('#account_list_revert_to_null').val()
            var yearof = $("#ddlYear").val()
            var lglbasis = $("#lglbasis").val() == "" ? 0 : $("#lglbasis").val()
            var revsummaryid=$("#revsummaryid").val()
            if (@Account.UserInfo.UserTypeID == 4 ) {
                if (lglbasis == 0) {
                    swal("Warning", "Please select legal basis in the dropdown list first!", "warning")
                    $('#SpanOnApproveProgress').css("display", "none");
                    $('#spanthumbsup').css("display", "auto");
                }
                else {
                    swal({
                        title: "Confirmation!",
                        text: "All transactions on the list below will be posted as reverted appropriation. Do you want to proceed?",
                        type: "info",
                        showCancelButton: true,
                        closeOnConfirm: false,
                        confirmButtonColor: "#1fa67a",
                        confirmButtonText: "Yes",
                        showLoaderOnConfirm: true,
                    }, function (isConfirm) {
                        if (isConfirm) {
                            $.post(url, { officeid: officeid, programid: programid, accountid: accountid, yearof: yearof, lglbasis: lglbasis,revsummaryid:revsummaryid }, function (d) {
                                if (d == "1") {
                                    swal({ title: "Success!", text: "Reversion has been posted!", timer: 3000, showConfirmButton: false, type: "success" });
                                    $("#grd_reversionapprove").data("kendoGrid").dataSource.read();
                                    $('#SpanOnApproveProgress').css("display", "none");
                                    $('#spanthumbsup').css("display", "auto");
                                }
                                else {
                                    swal("Something Went Wrong!", d, "error");
                                    $('#SpanOnApproveProgress').css("display", "none");
                                    $('#spanthumbsup').css("display", "auto");
                                }
                            });
                        }
                        else {
                            $('#SpanOnApproveProgress').css("display", "none");
                            $('#spanthumbsup').css("display", "auto");
                        }
                    }
                    )
                }
            }
        }
    }
    function sync2() {
        var availableamount = covert_empty($("#available_amount_approval").val())
        var realignamount_from = $("#amount_orig").val()
        var realignamount = covert_empty($("#amounttorealign_approval").val())
        var toberealign_null = covert_empty($("#toberealign_approval").val())
        var toAmount_orig = covert_empty($("#amount_orig").val())
        var toAmount_null = covert_empty($("#toAmount_approval").val())
        var available_amount_realign = covert_empty($("#available_amount_realign_approval").val())
        var realignamount_to = $("#amount_orig").val()

        var bal = parseFloat((Number(availableamount) + Number(realignamount_from)) - Number(realignamount)).toFixed(2)
        var bal2 = parseFloat((Number(toberealign_null) + Number(toAmount_orig)) - Number(toAmount_null)).toFixed(2)
        var bal3 = parseFloat(Number(available_amount_realign) - Number(toAmount_null)).toFixed(2)

        if (bal < 0 )
        {
            swal("Warning","Please be reminded, the amount to be realign must not be greater than the available amount!","warning")
            $("#amounttorealign_approval").val(realignamount_from)
        }
        if (bal2 < 0 || bal3 < 0) {
            swal("Warning", "Please be reminded, the realign amount must not be greater than the total amount to be realign or the available amount!", "warning")
            $("#toAmount_approval").val(toAmount_orig)
        }
    }
    function onDataBound(e) {
        $(".k-hierarchy-cell").hide();
        $(".k-hierarchy-col").hide();
        var grid = $("#grd_reversionapprove").data("kendoGrid")
        var ds = grid.dataSource.view();
        var rows = e.sender.tbody.children();
        var revsummaryid=$("#revsummaryid").val()
        if (@Account.UserInfo.UserTypeID != 4 ) {
            $('#postreversionid').css("display", "none");
        }
        if (@Account.UserInfo.UserTypeID != 4 || revsummaryid==0) {
          //  grid.showColumn('accountfrom');
          //  grid.showColumn('ppafrom');
            grid.hideColumn('officename');
        }
        else{
         //   grid.hideColumn('accountfrom');
          //  grid.hideColumn('ppafrom');
            grid.showColumn('officename');
        }
        for (var i = 0; i < ds.length; i++) {
            posted = ds[i].posted;
            trnno = ds[i].trnno
            var row = $(rows[i]);
            if (@Account.UserInfo.UserTypeID == 4 ) {
                if (posted == 0) { //approved
                    $('#revertid' + trnno + '').css("display", "normal");
                }
                else { //posted
                    $('#revertid' + trnno + '').css("display", "none");
                }
            }
            else{
                $('#revertid' + trnno + '').css("display", "none");
            }
            //if (comtag == 1) {
            //    row.addClass("ChangeBackColor");
            //}
            //else if (comtag == 2) {
            //    row.addClass("ChangeApprovedColor");
            //    $('#deleteid' + release_float_id + '').css("display", "none");
            //}
            //else {
            //    $('#viewdetailid' + release_float_id + '').css("display", "none");
            //}
        }
    }
    function fnReportHistory() {
        return {
            officeid: $("#office_revert_to_null").val(),
            monthof: 0
        }
    }
    function WFPgridApprove() {

        var entityGrid = $("#grd_reversionapprove").data("kendoGrid");
        var selectedItem = entityGrid.dataItem(entityGrid.select());
        var revbal=covert_empty($("#toberevert_null").val())
        var revsummaryid=$("#revsummaryid").val()
        var officeid = selectedItem.tooffice == 0 ? selectedItem.fromoffice : selectedItem.tooffice
        var year_ = $("#ddlYear").val();
        var program_id = selectedItem.toprogram == 0 ? selectedItem.fromprogram : selectedItem.toprogram
        var account_id = selectedItem.toaccount == 0 ? selectedItem.fromaccount : selectedItem.toaccount
        var subppaid = selectedItem.subaccount

        $("#accountid_toOrig").val(selectedItem.toaccount)
        if (selectedItem.AmountApprove == 0){
            $("#appovenewamount").val(selectedItem.Amount)
            $("#t_amountorig").val(selectedItem.Amount)
        }
        else{
            $("#appovenewamount").val(selectedItem.AmountApprove)
            $("#t_amountorig").val(selectedItem.AmountApprove)
        }
        $("#accountid_to").val(selectedItem.toaccount)
        $("#t_reversionid").val(selectedItem.reversion_id)

        var lru = "@Url.Action("thatassRevert", "Release")";
        $.post(lru, { year_: year_, officeid: officeid,revsummaryid:revsummaryid  }, function (e) {
            document.getElementById("t_revertamount").value = e; //total amount to revert
        });

        var url = "@Url.Action("datassReversion", "Release")";
        
        $.post(url, { office_id: officeid, program_id: program_id, account_id: account_id, year_: year_, subppaid: subppaid }, function (e) {
            document.getElementById("t_availableamount").value = covert_empty(e); // total available amount
        })
    }
    function syncforapproval(){
        var t_availableamount= $("#t_availableamount").val()
        var t_revertamount= $("#t_revertamount").val()
        var t_amountorig= $("#t_amountorig").val()
        var t_appovenewamount= $("#appovenewamount").val()
        var accountid_toOrig= $("#accountid_toOrig").val()

        //alert(accountid_toOrig)
        var bal1 = (Number(t_availableamount) + Number(t_amountorig)) - Number(t_appovenewamount)
        var bal2= (Number(t_revertamount) + Number(t_amountorig)) - Number(t_appovenewamount)
        if (bal1 < 0){
            swal("Warning","Insufficient balance, please check your entry!","warning")
            $("#appovenewamount").val("0.00")
        }
        if (bal2 < 0 && accountid_toOrig != 0){
            swal("Warning","Ooooopppsss! Amount must not be greater than the available total amount to revert.","warning")
            $("#appovenewamount").val("0.00")
        }
    }
</script>
<div id="searchAccountid" style="height: 30px; margin-top: -5px; float: right;">
    <input type="text" style="width:271.5px;border-collapse:collapse;margin:0px;border-style:solid;margin-left:0px;height:70%;outline:none;font-family:'Segoe UI Light_','Open Sans Light',Verdana,Arial,Helvetica,sans-serif;float:left;font-size:14px" placeholder="Search..." id="SearchReversionApprove" name="SearchReversionApprove">
    <div class="k-button k-button-icontext" style="height:30px;width:40px;border-style:solid;" onclick="searchreversionapprove()"><span class="mif-search"></span></div>
</div>
<br />
<div style="margin-top:6px;">
    @(Html.Kendo().Grid<iFMIS_BMS.BusinessLayer.Models.Monthly_DD_Model>()
    .Name("grd_reversionapprove")
    // .Scrollable()
    .Columns(col =>
    {
        col.Bound(m => m.officename).HtmlAttributes(new { style = "text-align:left;height:30px" })
                        .HeaderTemplate(@<text><div style="font-weight:600;text-align:center; vertical-align: middle; overflow: visible; white-space: normal;">Office</div></text>)
                    .Width(150)
                    .ClientTemplate("<div>#=officename# </div>");
        col.Bound(m => m.accountfrom).HtmlAttributes(new { style = "text-align:left;height:30px" })
                        .HeaderTemplate(@<text><div style="font-weight:600;text-align:center; vertical-align: middle; overflow: visible; white-space: normal;">Account <br />(From)</div></text>)
                        .Width(150)
                        .ClientTemplate("<div>#=accountfrom# </div>")
                        .HeaderHtmlAttributes(new { style = "text-align:center; vertical-align: middle; overflow: visible; white-space: normal" });
        col.Bound(m => m.ppafrom).HtmlAttributes(new { style = "text-align:left;height:30px" })
                        .HeaderTemplate(@<text><div style="font-weight:600;text-align:center; vertical-align: middle; overflow: visible; white-space: normal;">PPA <br />(From)</div></text>)
                        .Width(150)
                        .ClientTemplate("<div>#=ppafrom# </div>")
                        .HeaderHtmlAttributes(new { style = "text-align:center; vertical-align: middle; overflow: visible; white-space: normal" });
    //.ClientFooterTemplate("<div style='text-align:right;'><label> </label><label> Total</label></div>");
        
        col.Template(@<text></text>).HtmlAttributes(new { style = "text-align:left;height:30px" })
                        .HeaderTemplate(@<text><div style="font-weight:600;text-align:center; vertical-align: middle; overflow: visible; white-space: normal;">Account <br />(To)</div></text>)
                        .Width(150)
                        .ClientTemplate("<div>#=accountto# </div>")
                        .HeaderHtmlAttributes(new { style = "text-align:center; vertical-align: middle; overflow: visible; white-space: normal" });
        col.Template(@<text></text>).HtmlAttributes(new { style = "text-align:left;height:30px" })
                        .HeaderTemplate(@<text><div style="font-weight:600;text-align:center; vertical-align: middle; overflow: visible; white-space: normal;">PPA <br />(To)</div></text>)
                        .Width(150)
                        .ClientTemplate("<div>#=ppato# </div>")
                        .HeaderHtmlAttributes(new { style = "text-align:center; vertical-align: middle; overflow: visible; white-space: normal" });
        col.Bound(m => m.AmountApprove)
                        .HtmlAttributes(new { style = "text-align:right;height:30px" })
                        .HeaderTemplate(@<text><div style="font-weight:600;text-align:center; vertical-align: middle; overflow: visible; white-space: normal;">Amount</div></text>)
                        .Width(100)
                        .HeaderHtmlAttributes(new { style = "text-align:center; vertical-align: middle; overflow: visible; white-space: normal" })
                        .ClientTemplate("<div>#=kendo.toString(AmountApprove,'c2')# </div>");
        col.Bound(m => m.datetimeapprove)
                        .HtmlAttributes(new { style = "text-align:right;height:30px" })
                        .HeaderTemplate(@<text><div style="font-weight:600;text-align:center; vertical-align: middle; overflow: visible; white-space: normal;">Date and Time<br />(Approved)</div></text>)
                        .Width(180)
                        .HeaderHtmlAttributes(new { style = "text-align:center; vertical-align: middle; overflow: visible; white-space: normal" })
                        .ClientTemplate("<div>#=datetimeapprove# </div>");
        col.Bound(m => m.mode)
                        .HtmlAttributes(new { style = "text-align:center;height:30px" })
                        .HeaderTemplate(@<text><div style="font-weight:600;text-align:center; vertical-align: middle; overflow: visible; white-space: normal;">Status</div></text>)
                        .Width(80)
                        .HeaderHtmlAttributes(new { style = "text-align:center; vertical-align: middle; overflow: visible; white-space: normal" })
                        .ClientTemplate("<div>#=mode# </div>");
        col.Template(t => { }).ClientTemplate(
                        "<div id='revertid#=trnno#' class='k-button k-button-icontext' style='display:none;border-radius:50px;color:\\#ffffff;background-color:\\#DE5555;'onclick='revert_disapprove(#=reversion_id#,#=fromaccount#)'><span class='fa fa-thumbs-down' style='font-size: 10pt;margin: 1px;margin-top:-1px;margin-left:1px;margin-right:1px;'></span>Disapprove</div> "
                        ).HtmlAttributes(new { style = "vertical-align: top;" }).Width(125);
        col.Bound(m => m.reversion_id).HtmlAttributes(new { style = "text-align:left;height:30px" })
                        .HeaderTemplate(@<text><div style="font-weight:600;text-align:center; vertical-align: middle; overflow: visible; white-space: normal;">id</div></text>)
                        .Hidden()
                        .HeaderHtmlAttributes(new { style = "text-align:center; vertical-align: middle; overflow: visible; white-space: normal" });
        col.Bound(m => m.fromprogram).HtmlAttributes(new { style = "text-align:left;height:30px" })
                        .HeaderTemplate(@<text><div style="font-weight:600;text-align:center; vertical-align: middle; overflow: visible; white-space: normal;">program(from)</div></text>)
                        .Hidden()
                        .HeaderHtmlAttributes(new { style = "text-align:center; vertical-align: middle; overflow: visible; white-space: normal" });
        col.Bound(m => m.fromaccount).HtmlAttributes(new { style = "text-align:left;height:30px" })
                        .HeaderTemplate(@<text><div style="font-weight:600;text-align:center; vertical-align: middle; overflow: visible; white-space: normal;">account(from)</div></text>)
                        .Hidden()
                        .HeaderHtmlAttributes(new { style = "text-align:center; vertical-align: middle; overflow: visible; white-space: normal" });
        col.Bound(m => m.subaccount).HtmlAttributes(new { style = "text-align:left;height:30px" })
                        .HeaderTemplate(@<text><div style="font-weight:600;text-align:center; vertical-align: middle; overflow: visible; white-space: normal;">sub-account</div></text>)
                        .Hidden()
                        .HeaderHtmlAttributes(new { style = "text-align:center; vertical-align: middle; overflow: visible; white-space: normal" });
        col.Bound(m => m.fromoffice).HtmlAttributes(new { style = "text-align:left;height:30px" })
                        .HeaderTemplate(@<text><div style="font-weight:600;text-align:center; vertical-align: middle; overflow: visible; white-space: normal;">office(from)</div></text>)
                        .Hidden()
                        .HeaderHtmlAttributes(new { style = "text-align:center; vertical-align: middle; overflow: visible; white-space: normal" });
        col.Bound(m => m.tooffice).HtmlAttributes(new { style = "text-align:left;height:30px" })
                        .HeaderTemplate(@<text><div style="font-weight:600;text-align:center; vertical-align: middle; overflow: visible; white-space: normal;">office(to)</div></text>)
                        .Hidden()
                        .HeaderHtmlAttributes(new { style = "text-align:center; vertical-align: middle; overflow: visible; white-space: normal" });
        col.Bound(m => m.toprogram).HtmlAttributes(new { style = "text-align:left;height:30px" })
                        .HeaderTemplate(@<text><div style="font-weight:600;text-align:center; vertical-align: middle; overflow: visible; white-space: normal;">program(to)</div></text>)
                        .Hidden()
                        .HeaderHtmlAttributes(new { style = "text-align:center; vertical-align: middle; overflow: visible; white-space: normal" });
        col.Bound(m => m.toaccount).HtmlAttributes(new { style = "text-align:left;height:30px" })
                        .HeaderTemplate(@<text><div style="font-weight:600;text-align:center; vertical-align: middle; overflow: visible; white-space: normal;">account(to)</div></text>)
                        .Hidden()
                        .HeaderHtmlAttributes(new { style = "text-align:center; vertical-align: middle; overflow: visible; white-space: normal" });
        col.Bound(m => m.purpose).HtmlAttributes(new { style = "text-align:left;height:30px" })
                        .HeaderTemplate(@<text><div style="font-weight:600;text-align:center; vertical-align: middle; overflow: visible; white-space: normal;">Purpose</div></text>)
                        .Hidden()
                        .HeaderHtmlAttributes(new { style = "text-align:center; vertical-align: middle; overflow: visible; white-space: normal" });
        col.Bound(m => m.posted).HtmlAttributes(new { style = "text-align:left;height:30px" })
                        .HeaderTemplate(@<text><div style="font-weight:600;text-align:center; vertical-align: middle; overflow: visible; white-space: normal;">Posted</div></text>)
                        .Hidden()
                        .HeaderHtmlAttributes(new { style = "text-align:center; vertical-align: middle; overflow: visible; white-space: normal" });
        col.Bound(m => m.trnno).HtmlAttributes(new { style = "text-align:left;height:30px" })
                        .HeaderTemplate(@<text><div style="font-weight:600;text-align:center; vertical-align: middle; overflow: visible; white-space: normal;">trnno</div></text>)
                        .Hidden()
                        .HeaderHtmlAttributes(new { style = "text-align:center; vertical-align: middle; overflow: visible; white-space: normal" });
        
    })
    .ToolBar(toolbar =>
    {
        toolbar.Custom().Text("<div id='postreversionid'><span id='spanthumbsup' class='fa fa-save'> </span><span id='SpanOnApproveProgress' style='display:none' class='fa fa-spinner fa-spin'></span> Post Reversion</div>").Name("btnApprove").Url("javascript:void(0)").HtmlAttributes(new { onclick = "btnPostReversion()" });
        // toolbar.Save();
    })
        .Sortable()
        .Scrollable()
        .Selectable()
        .Events(e => e.DataBound("onDataBound").Change("WFPgridApprove"))
        .HtmlAttributes(new { style = "height:400px;" })
        .Pageable(pageable => pageable
            .Refresh(true)
            .ButtonCount(2))
        .DataSource(d => d
        .Ajax()
        //.Aggregates(a =>
        //{
        //    a.Add(c => c.Amount).Sum();S
        //})
        .PageSize(1000)
        .Model(m => m.Id(i => i.supplementalbudget_id))
        .Read(read => read.Action("Load_Reversion_Req", "Release").Data("RevertGridSubmitted")))
    )

</div>
<div style="clear:both"></div>
    <div id="legalabelid" style="float: left; margin-left: 157px; margin-top: 25px;">
        <label style="float:left;margin-left: 50px;font-size:14px">
            Legal Basis :
        </label>
    </div>
    <div id="legalbasisid" style="float: right; margin-right: 249px; margin-top: 20px;">
        @(Html.Kendo().ComboBox()
            .Name("lglbasis")
            .DataTextField("LegalDescription")
            .DataValueField("LegalCode")
            .Placeholder("Select Legal Basis...")
            .Filter("contains")
            .MinLength(1)
            .HtmlAttributes(new { @style = "width: 420px;" })
        //    .Events(e => e.Change("grid_ref_sup_ok_subs"))
            .DataSource(source => source.Read(read => read.Action("GetLegalBasis", "Release")))
        )

    </div>
    <div style="float: left;margin-left:92.5px;margin-top:17px;">
        <label style="float:left;margin-left: 75px;font-size:14px">
            Approve Amount   :
        </label>
        <div style="float:left;margin-left:15px;margin-top:0px;">
            <input type="number" id="appovenewamount" onkeyup="syncforapproval()" value="0" style="width:338px;" />
        </div>
    </div>
    <div style="float:right;margin-right:467.4px;width:350px;margin-top:20px;">
        <label style="float:left;margin-left: 50px;font-size:14px">
            MAF History   :
        </label>
    </div>

    <div style="float:right;margin-right:320px;width:350px;margin-top:-25px;">
        @(Html.Kendo().ComboBox()
                        .Name("reversionHistory")
                        .DataTextField("datetime")
                        .DataValueField("mafid")
                        .SelectedIndex(-1)
                        .Filter("contains")
                        .MinLength(3)
                        .HtmlAttributes(new { style = "width:100%; height:100%", @class = "form-control autoselect" })
                        .DataSource(source => source.Read(read => read.Action("GetReportSupplementalHistory", "Report").Data("fnReportHistory")))
        )
    </div>
 @*<div style="display:inline-block;margin-top:10px">
        <div style="float:left;margin-left:257px;margin-top:19px;">
            <label style="margin-left: 50px;margin-right: 5px;margin-top: 0px;margin-bottom: 2px;font-size:14px">
                Account :
            </label>
        </div>
        <div style="float:left;margin-left:30px;margin-top:-2px;">
            <textarea type="text" style="width:300px;height:35px;" name="account" id="account_approval" disabled> </textarea>
        </div>
    </div>
    <div style="display:inline-block">

        <div style="float:left;margin-left:198.5px;margin-top:10px;">
            <label style="margin-left: 50px;margin-right: 5px;margin-top: 0px;margin-bottom: 2px;font-size:14px">
                Available Amount :
            </label>

        </div>

        <div style="float: right;margin-right:374px;margin-top:5px;">
            <input type="text" style="width:180px;color: #2c9a0c" name="available_amount_approval" id="available_amount_approval" onkeyup="commaSeparateNumberversion_realignapproval('available_amount_approval')" step="0.01" disabled>
        </div>

        <div style="float:left;margin-left:-178px;margin-top:42px;">
            <label style="margin-left:50px;margin-right:5px;margin-top:0px;margin-bottom:2px;font-size:14px">
                Amount to Realign :
            </label>
        </div>
        <div style="float: right;margin-right:374px;margin-top:5px;">
            <input type="text" style="width:180px; color: red" name="amounttorealign_approval" id="amounttorealign_approval" onkeyup="commaSeparateNumberversion_realignapproval('amounttorealign_approval')" >
        </div>

        <div style="float: left;margin-left:225.5px;margin-top:34px;">
            <label style="margin-left: 50px;margin-right: 5px;margin-top: 0px;margin-bottom: 2px;font-size:14px">
                Total Amount <br />to be Realign :
            </label>
        </div>
        <div style="float:right;margin-right:374px;margin-top:5px;">
            <input type="text" style="width:180px; color: #0501fa" name="toberealign_approval" id="toberealign_approval" onkeyup="commaSeparateNumberversion_realignapproval('toberealign_approval')" disabled>
        </div>

        <div style="float: left;margin-right:10px;margin-top:20px;">
            <label style="margin-left: 90px;margin-right: 5px;margin-top: 0px;margin-bottom: 2px; color:red;font-size:14px;">
                <u>  Revert To:</u>
            </label>
        </div>
        <div style="float:left;margin-left:-278.5px;margin-top:70px;">
            <label style="margin-left: 50px;margin-right: 5px;margin-top: 0px;margin-bottom: 2px;font-size:14px">
                Account :
            </label>
        </div>
        <div style="float:left;margin-left:-135px;margin-top:48px;">
            <textarea type="text" style="width:300px;height:35px;vertical-align:middle" name="accountto_approval" id="accountto_approval" disabled> </textarea>
        </div>
        <div style="float: left;margin-left:-514px;margin-top:105px;">
            <label style="margin-left: 50px;margin-right: 5px;margin-top: 0px;margin-bottom: 2px;font-size:14px;">
                Available Amount :
            </label>
        </div>
        <div style="float: right;margin-right:374px;margin-top:5px;">
            <input type="text" style="width:180px;color: #2c9a0c" name="available_amount_realign_approval" id="available_amount_realign_approval" onkeyup="commaSeparateNumberversion_realignapproval('available_amount_realign_approval')" step="0.01" disabled>
        </div>

        <div style="float:right;margin-right:601px;margin-top:12px;">
            <label style="margin-left: 0px;margin-right: 0px;margin-top: 0px;margin-bottom: 2px;font-size:14px;">
                Realign Amount :
            </label>
        </div>
        <div style="float: right;margin-right:374px;margin-top:-29px;">
            <input type="text" style="width:180px; color: red" name="toAmount_approval" id="toAmount_approval" value="0.00" onkeyup="commaSeparateNumberversion_realignapproval('toAmount_approval')" >
        </div>
    </div>*@
<br />
<div class="k-button k-button-icontext" style="float:left; bottom: 15px; right: 25px;width: 100px;border-radius:50px;margin-top:25px;margin-left:500px" onclick="frmReversionRefresh()"><span class='fa fa-refresh'></span> Refresh</div>
<div class="k-button k-button-icontext" id="revapproveupdateid" style="float:left; bottom: 15px; right: 25px;width: 100px;background-color:cornflowerblue; color:white;border-radius:50px;margin-left:10px;margin-top:25px;" onclick="frmRevertApproveUpdate()"><span class="fa fa-edit"></span> Update</div>
<div class="k-button k-button-icontext" style="float:left; bottom: 15px; right: 25px;width: 100px;background-color:cornflowerblue; color:white;border-radius:50px;margin-left:10px;margin-top:25px;" onclick="frmPreview()"><span class="fa fa-print"></span> Preview</div>
<div class="k-button k-button-icontext" style="float:left; bottom: 15px; right: 25px;width: 100px;background-color:indianred; color:white;border-radius:50px;margin-left:10px;margin-top:25px;" onclick="frmRealignclose()"><span class="fa fa-close"></span> Close</div>

<div style="display:none;">
    <input type="number" id="officeid_from" value="0"/>
    <input type="number" id="programid_from" value="0" />
    <input type="number" id="accountid_from" value="0" />
    <input type="number" id="officeid_to" value="0" />
    <input type="number" id="programid_to" value="0" />
    <input type="number" id="accountid_to" value="0" />
    <input type="number" id="subaccountid" value="0" />
    <input type="number" id="realigid" value="0" />
    <input type="number" id="amount_orig" value="0" />
    <input type="number" id="realignamount_from" value="0" />
    <input type="number" id="t_reversionid" value="0" />
    <input type="number" id="t_availableamount" value="0" />
    <input type="number" id="t_revertamount" value="0" />
    <input type="number" id="t_amountorig" value="0" />
    <input type="number" id="accountid_toOrig" value="0" />
</div>
<script>
    $(document).ready(function(){
        if (@Account.UserInfo.UserTypeID !=4){
            document.getElementById("legalabelid").style="display:none"
            document.getElementById("legalbasisid").style="display:none"
            document.getElementById("revapproveupdateid").style="display:none"
            $("#reversionapproved").data("kendoWindow").setOptions({height:600})
        }
        else{
            document.getElementById("legalabelid").style="display:normal;float:left;margin-left:157px;margin-top:25px"
            document.getElementById("legalbasisid").style="float: right; margin-right: 249px; margin-top: 20px;"
        }
    })
    function frmPreview() {
        var program_id = $('#Program_revert_to_null').val() == "" ? 0 : $('#Program_revert_to_null').val()
        var accountid = $('#account_list_revert_to_null').val() == "" ? 0 : $('#account_list_revert_to_null').val()
        var yearof = $("#ddlYear").val()
        var office = $('#office_revert_to_null').data("kendoComboBox").text()
        var officeid = $('#office_revert_to_null').val()
        var repHistory = $('#reversionHistory').val()
        $.ajax({
            async: false,
            dataType: 'html',
            success: window.open("../Reports/ReportViewer.aspx?rid=39&programID=" + program_id + "&accountID=" + accountid + "&yearof=" + yearof + "&OfficeName=" + office + "&OfficeID=" + officeid + "&mode=3&approverepHistory=" + repHistory + "&source=1")
        });
    }

    function frmRevertApproveUpdate() {
        var revertid=$("#t_reversionid").val();
       
        var approveamount=$("#appovenewamount").val();
        var url="@Url.Action("reversionforapprovalupdate", "Release")"
        var accountid_to = $("#accountid_to").val()
        
        if (approveamount != 0 && revertid != 0 ){
            swal({
                title: "Are you sure?",
                text: "This will update the reversion amount. Do you want to proceed?",
                type: "info",
                showCancelButton: true,
                closeOnConfirm: false,
                confirmButtonColor: "#1fa67a",
                confirmButtonText: "Yes",
                showLoaderOnConfirm: true,
            }, function () {
            $.post(url, { realigid: revertid,accountid_to: accountid_to,amount:approveamount}, function (d) {
                swal({ title: "Success!", text: d, timer: 2500, showConfirmButton: false, type: "success" });
                $("#grd_reversionapprove").data("kendoGrid").dataSource.read();
            });
            })
        }
        else{
            swal("Warning","There's no amount to update! Please select an account in the above list.","warning")
        }
    }
    function frmReversionRefresh() {
        $("#grd_reversionapprove").data("kendoGrid").dataSource.read()
        $("#t_availableamount").val(0)
        $("#appovenewamount").val("0.00")
        $("#lglbasis").data("kendoComboBox").value("")
        $("#reversionHistory").data("kendoComboBox").value("")
        $("#t_reversionid").val(0)
    }
    function revert_disapprove(reversion_id, fromaccount) {
        var year = $("#ddlYear").val();

        var url="@Url.Action("revertdisapprove", "Release")";
        //getbalances()

        swal({
            title: "Warning?",
            text: "Disapprove this transaction?",
            type: "info",
            showCancelButton: true,
            closeOnConfirm: false,
            confirmButtonColor: "#1fa67a",
            confirmButtonText: "Yes",
            showLoaderOnConfirm: true,
        }, function () {
            $.post(url, {
                reversion_id: reversion_id, accountto: fromaccount
            }, function (e) {

                if (e == "success") {
                    swal({
                        title: "Success!",
                        text: "Transaction has been disapproved!",
                        timer: 2000,
                        type: "success",
                        showConfirmButton: false
                    })
                    $('#grd_reversionapprove').data('kendoGrid').dataSource.read();
                } else {
                    swal({
                        title: "Error!",
                        text: e,
                        timer: 2000,
                        type: "error",
                        showConfirmButton: false
                    })
                }
            });
        })
    }
    function getbalances() {
        setTimeout(function () {

            var lru = "@Url.Action("thatassRevert", "Release")";
            var year_ = $("#ddlYear").val();
            var officeid = $("#officeid_from").val()
            var subppaid = $("#subaccountid").val() == "" ? 0 : $("#subaccountid").val()
            $.post(lru, { year_: year_, officeid: officeid }, function (e) {
                document.getElementById("toberealign_approval").value = commaSeparateNumberRealignment(e);

            })
        }, 1000);

        setTimeout(function () {

            var url = "@Url.Action("datassReversion", "Release")";
            var office_id = $("#officeid_from").val()
            var program_id = $("#programid_from").val()
            var account_id = $("#accountid_from").val()
            var year_ = $("#ddlYear").val();
            var subppaid = $("#subaccountid").val() == "" ? 0 : $("#subaccountid").val()

            $.post(url, { office_id: office_id, program_id: program_id, account_id: account_id, year_: year_, subppaid: subppaid }, function (e) {
                document.getElementById("available_amount_approval").value = commaSeparateNumberRealignment(e);
            })
            }, 1000);

    }
    function getbalances_to() {
        setTimeout(function () {
            var url = "@Url.Action("datassReversion", "Release")";

            var office_id = $('#officeid_to').val()
            var program_id = $('#programid_to').val()
            var account_id = $('#accountid_to').val() == "" ? 0 : $('#accountid_to').val()
            var subppaid = $("#subaccountid").val() == "" ? 0 : $("#subaccountid").val()
            var year_ = $("#ddlYear").val();
            $.post(url, { office_id: office_id, program_id: program_id, account_id: account_id, year_: year_, subppaid: subppaid }, function (e) {
                if (account_id = 0 || account_id == null || account_id == '') {
                    document.getElementById("available_amount_realign").value = '';
                } else {
                    document.getElementById("available_amount_realign_approval").value = commaSeparateNumberRealignment(e);
                }
                $('#grd_reversionapprove').data('kendoGrid').dataSource.read();
            })
        }, 1000);
    }

</script>